<!--===Ion-Header Start===-->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <p class="ion-text-center heading">{{showresult == true ? 'Result' :"Assignment"}}</p>
        </ion-col>
        <ion-col size="2">
          <div class="avatar_icon" (click)="presentPopover('any')"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!--====Ion-Header Ends=====-->
<!--====ion-content Start===-->
<ion-content>
  <!--===assignment_test_page====-->
  <div class="comman_page_padding assignment_test_page">

    <div *ngIf="!showresult">
      
      <ion-row class="align_items_center">
        <ion-col size="6">
          <p>00: 00 min</p>
        </ion-col>
        <ion-col size="6" class="btn_theme submit_test">
          <button>Submit</button>
        </ion-col>
      </ion-row>

      <!-- start row_pagination -->
      <div class="pagination" *ngIf='!alreadygiven'>
        <span (click)="prev()"><i class='fa fa-angle-left'></i></span>
        <div class="pagination_circle" *ngFor='let quest of questions; let i = index;'>
          <p (click)="newstep(i)" class="numbering {{this.instep == i ? '':''}} ">{{i+1}}</p>
        </div>
        <span (click)="next()"><i class='fa fa-angle-right'></i></span>
      </div>
       <!--End row_pagination-->

      <!--==question==-->
      <div class='questionary' *ngIf='alreadygiven'>
        <ion-row class=" text-center">
          <ion-col class="">
            Assignment Completed
          </ion-col>
        </ion-row>
      </div>
      <div class='questionary' *ngFor='let quest of questions; let i = index;'>
        <div class='questionary' *ngIf='instep == i;'>

          <div class="question">
            <p><span class="qus_no">Q {{i+1}}.</span> <span class="flex_shrink"> {{quest.question ?? ''}}</span></p>
          </div>

          <!--======ion-list======-->
          <ion-list class="select_answer">
            <ion-radio-group value="biff">
              <ion-item lines="none" class="border_v">
                <label><span>A.</span> <span class="mg-left">{{quest.a ?? ''}}</span></label>
                <ion-radio slot="start" (click)="setAnswer(quest.id,'A',quest.answer)" value="{{quest.a ?? ''}}"
                  name="answer">
                </ion-radio>
              </ion-item>
              <ion-item lines="none" class="border_y">
                <label><span>B.</span> <span class="mg-left">{{quest.b ?? ''}}</span></label>
                <ion-radio slot="start" (click)="setAnswer(quest.id,'B',quest.answer)" value="{{quest.b ?? ''}}"
                  name="answer">
                </ion-radio>
              </ion-item>
              <ion-item lines="none" class="border_o">
                <label><span>C.</span> <span class="mg-left">{{quest.c ?? ''}}</span></label>
                <ion-radio slot="start" (click)="setAnswer(quest.id,'C',quest.answer)" value="{{quest.c ?? ''}}"
                  name="answer">
                </ion-radio>
              </ion-item>
              <ion-item lines="none" class="border_s">
                <label><span>D.</span> <span class="mg-left">{{quest.d ?? ''}}</span></label>
                <ion-radio slot="start" (click)="setAnswer(quest.id,'D',quest.answer)" value="{{quest.d ?? ''}}"
                  name="answer">
                </ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <!--======ion-list End====-->
          <!-- <ion-row *ngIf='quest.question_img'>
            <ion-col>
              <a href="{{quest.question_img ?? ''}}" class="sums_img">View File Attached</a>
            </ion-col>
          </ion-row> -->
          <!-- attachment_thumbnail -->
          <ion-row class="attachment_thumbnail">
            <ion-col>
              <img src="../../assets/images/sum_maths.jpeg">
            </ion-col>
          </ion-row>
          <!-- End attachment_thumbnail -->
        </div>
      </div>
      <!--====btns_row====-->
      <ion-row class="btns_row ion-text-center" *ngIf="!showsubmit">
        <ion-col>
          <button (click)="changestep(instep)" *ngIf="skipquestion" class="bg_green">Skip</button>
        </ion-col>
        <ion-col>
          <button (click)="prev()" *ngIf="instep > 0" class="bg_violet">Prev</button>
        </ion-col>
        <ion-col>
          <button (click)="next()" class="bg_green">Next</button>
        </ion-col>
      </ion-row>
      <ion-row class="btns_row ion-text-center" *ngIf="showsubmit">
        <ion-col size="12">
          <button (click)="finish()" class="bg_green">Finish</button>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="showresult">
      <div class="test_assign_results_page">
        <!--progress_bar-->
        <ion-row>
          <ion-col class="progress_bar" size="6">
           <span class="result_status"> {{this.percentStatus ?? ''}}</span>
            <div role="progressbar" aria-valuenow="{{this.report?.percentage}}" aria-valuemin="0" aria-valuemax="100" style="--value:{{this.report?.percentage}}">
            </div>
            <!-- <h1 class="color_violet progress_title">
              {{this.percentStatus ?? ''}}
            </h1>
            <div class="progress">
              <span class="title timer" data-from="0" data-to="85" data-speed="1800">85</span>
              <div class="overlay"></div>
              <div class="left"></div>
              <div class="right"></div>
            </div>
            <span class="comman_font3">Your Result</span> -->
          </ion-col>
          <!--correct / Not correct answers card-->
          <ion-col size="6" class="answers_details">
            <div class="grad_green answer_tab">
              <div class="correct_ans">
                <p class="numeric_value">{{this.report?.totalcorrect}}</p>
              </div>
              <div class="tab_text">
                <p class="font_biger">Correct <br> <span class="font_small">Answers</span></p>
              </div>
            </div>
            <div class="grad_orange answer_tab">
              <div class="correct_ans">
                <p class="numeric_value">{{this.report?.totalnotcorrect}}</p>
              </div>
              <div class="tab_text2">
                <p class="font_biger">Not Correct <br> <span class="font_small">Answers</span></p>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <h2 class="title_font">Answer with Explaination</h2>
        <!--row_unit-->
        <div class="row_unit">
          <div *ngFor='let quest of report.questions; let i = index;'
            id="{{isquestion == i+1 ? 'theme_shadow' :''}}{{isquestion == 0  && i == 0? 'theme_shadow' :''}}">
            <p (click)="toggleShow(i+1)">Q{{i+1}}</p>
          </div>
        </div>
        <!--result_discription-->
        <div *ngFor='let quest of report.questions; let i = index;'>
          <div *ngIf='isquestion == i+1 || isquestion == 0 && i == 0'>
            <ion-row>
              <ion-col class="result_discription">
                <h3 class="title_font">Question</h3>
                <p> <span>{{i+1}}.</span> {{quest.question ?? ''}}</p>
                
                <!-- <p *ngIf='quest.question_img'>
                  <a href="{{quest.question_img ?? ''}}" class="sums _imgs">View Question File</a>
                </p> -->
              </ion-col>
            </ion-row>
            <!-- attachment_thumbnail -->
            <ion-row class="attachment_thumbnail">
              <ion-col>
                <img src="../../assets/images/sum_maths.jpeg" alt="Thumbnil Img">
              </ion-col>
            </ion-row>
            <!-- attachment_thumbnail end -->

            <!--answers_comparison-->
            <ion-row>
              <ion-col>
                <div class="answers_comparison">
                  <h4 class="title_font">Options</h4>
                  <div class="options">
                    <p>A. {{quest.a ?? ''}}</p>
                    <p>B. {{quest.b ?? ''}}</p>
                    <p>C. {{quest.c ?? ''}}</p>
                    <p>D. {{quest.d ?? ''}}</p>
                  </div>
                  <div class="show_correct_answer">
                    <p> Correct answer is</p>
                    <button>
                      <p> {{quest.answer ?? ''}}</p>
                    </button>
                  </div>
                </div>
              </ion-col>
            </ion-row>
            <!--explanation-->
            <ion-row>
              <ion-col class="explanation">
                <h5 class="title_font">Explanation</h5>
                <p>{{quest?.answer_exp}}</p>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--===assignment_test_page End====-->
</ion-content>
<!--Ion Content End-->