<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <div class="d-flex">
                        <button (click)="stopMedia()" class="color_violet1"><i class='fa fa-arrow-left'></i></button>
                    </div>
                </ion-col>
                <ion-col size="6">
                    <p class="ion-text-center heading">
                        {{this.usertype | titlecase}}
                    </p>
                </ion-col>
                <ion-col size="3">
                    <img class="header_icon_1" src="../../assets/images/weblgo.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="video-lectures-page">
        <div id="errorMsg"></div>
        <ion-row>
            <ion-col size="12" class="padding_zero">
                <div class="ion-text-center video_dummy d-flex">
                    <img class="header_icon_1 "  src="../../assets/images/weblgo.png">
                    <div class="onlineEl">
                        <a style="color: #cf3b1e; margin-left:5px;float: right;" href="#"><i class="fa fa-circle"></i></a>
                    </div>
                </div> 
                <video id="my-video-el" class="videoStream student-video" (click)="swapVideo('my-video')" autoplay playsinline  >
                </video>
                <div class="audioMute" style="position: absolute;bottom: 50px;z-index: 2;margin-left: 18px;"></div>
                <div class="black_bg" id="demoicon">
                </div>
                <!-- <video id="my-video" *ngIf="myvideo" (click)="swapVideo('partner-video')" autoplay playsinline [ngClass]="{'': topVideoFrame === 'my-video', 'main-video': topVideoFrame != 'my-video'}">
                </video> -->
            </ion-col>
        </ion-row>
        <img class="header_icon_1 " id="logo-image" style="display:none;" src="../../assets/images/weblgo.png">
      <!--   <video id="video-preview"></video> -->
        <div class="comman_page_padding video_lectures_intitute">
            <ion-row nowrap *ngIf="this.usertype == 'institute'" class="text-right">
                <button *ngIf="showreset" class='btn_theme_live {{this.streaming ? "streaming_btn" :"" }}' (click)="call()"> <i class="fa fa-play"></i> Stream</button>
                <button *ngIf="!showreset" class='btn_theme_live {{this.streaming ? "streaming_btn" :"" }}' (click)="reset()"> <i class="fa fa-play"></i> Reset</button>
                <button class='btn_theme_live {{this.pausevideo ? "muted_btn" :"" }}' (click)="stop()"> <i class="fa fa-stop"></i> Pause</button>
                <button (click)="mutevideo()" class='btn_theme_live {{this.mutestate ? "muted_btn" :"" }}'>
                     <i class="fa fa-microphone"></i> Audio</button>

                <button *ngIf="!isRecording" (click)="startRecord()" class='btn_theme_live {{this.videoStatus == false ? "muted_btn" :"" }}'>
                <i class="fa fa-circle recordbtn"></i> Record</button>
                <button *ngIf="isRecording" (click)="stopRecording()" class='btn_theme_live stoprecordbtn {{this.videoStatus == false ? "muted_btn" :"" }}'>
                <i class="fa fa-circle"></i> Stop</button>

                <button class='btn_theme_live' (click)="reset()"><i class="fa fa-refresh"></i> Restart</button>
                <!-- <button class='btn_theme_live' (click)="refreshStudents()"><i class="fa fa-refresh"></i> Students</button> --> 
            </ion-row>
        </div>

        <div class="student-video-section"> 

            <div #studentContainer class="shedule_card"></div> 
            <ion-row *ngIf="this.usertype == 'student'">
                <ion-col size="3">
                    <div class="shedule_card"> 
                        <img style='min-height:100px;' src="{{this.userdetails.avatar ? this.userdetails.avatar : '../../assets/images/teachers_profile.png'}}" alt="student_img.jpg">
                    </div>
                </ion-col>
                <ion-col size="9">
                    <div class="student-details">
                        <h4>{{this.userdetails.name ?? ''}} <span class="myonlinestatus"></span></h4>
                        <div class="btns-m " *ngIf="this.usertype == 'student'">
                            <button class='btn_theme_live {{this.joined ? "streaming_btn" :"" }}' disabled='{{this.joined ? "disabled" :"" }}' (click)="join()"><i class='fa fa-user'></i> Join</button>
                            <button class='btn_theme_live ' disabled='{{!this.joined ? "disabled" :"" }}' (click)="closeConnection()"><i class="fa fa-stop"></i> Leave</button>
                            <button style="height: 36px;margin: 4px;" (click)="raiseHand()" class="btn_theme_live {{this.handRaised == true ? 'orange_btn' : ''}}"  ><i class="fa fa-question" aria-hidden="true"></i> Raise</button>
                            <button class='btn_theme_live'  (click)="reset()"><i class="fa fa-refresh"></i> Restart</button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
           
            
            <div id="raiseHand"></div> 


            <div id="studentdiv">
                <ion-row *ngIf="this.usertype == 'institute'">
                    <ion-col size="12">
                        <div class="shedule_card ion-text-center"> 
                            No students Yet !
                        </div>
                    </ion-col>
                </ion-row>  
            </div> 
        </div> 
    </div>
     

</ion-content>