.student-video {
    width: 100px;
    height: 100px;
    border-radius: 2px;
    object-fit: cover;
}
.inc_size {
    width: 300px;
    height: 280px; 
    border:2px solid silver;
}

.main-video {
    width: 100%;
    object-fit: cover;
    max-height: 350px;
}

button.btn_theme_live {
    height: 36px;
    margin: 4px;
}

.black_bg {
    text-align: center;
    height: 350px;
    background: #00000070;
    padding-top: 150px;
}

.comman_page_padding.video_lectures_intitute {
    background: #1a1a1a;
}

.muted_btn {
    background: #ac0808;
    color: #fff;
}

.pausevideo {
    background: #ac0808;
    color: #fff;
}

button.btn_theme_live.streaming_btn {
    background: #17b117;
    color:white;
}

.videoStream {
    transition: transform 0.8s;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.video_dummy {
    position: absolute;
    left: 14px;
    top: 14px;
    z-index: 5;
}

video#my-video-el {
    position: absolute;
    z-index: 999;
    background: #d3d3d330;
}

video#my-video-el {
    right: 5px;
    bottom: 5px;
}
 
.audioMute {
    position: absolute;
    bottom: 50px;
    z-index: 2;
    margin-left: 18px;
}
.color_violet1{
    color: #fff;
    font-size: 18px;
    background: #f5f5dc00;
}
.recordbtn {
    color: #bf0000;
}
.stoprecordbtn {
    background: #da0000;
    color: white;
}

#partner-video {
    transition: transform 0.8s !important;
    -webkit-transform: scaleX(-1) !important;
    transform: scaleX(-1) !important;
}

.orange_btn {
    background: #ffe700;
}
button.btn_theme_live.onRaiseHand.raiseHand.orange_btn {
    background: #ffe700;
}