<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-buttons>
            <ion-back-button defaultHref="/" class="color_violet"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="5">
          <p class="heading">Verify OTP</p>
        </ion-col>
        <ion-col size="4">

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="comman_page_front  bottom_logo_fix">
    <ion-row>
      <ion-col size="12">
        <div class="logo_area ion-text-center">
          <img src="../../assets/images/logo.png">
        </div>
        <div class="ion-text-center form_head">
          <span class='ave'>AVE</span><span class='stud'>STUD</span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <span class="form_text_line">Enter the OTP received</span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size-sm="12">
        <ion-item lines="none">
          <ion-input [(ngModel)]="postData.otpentered" name='postData' required placeholder="Enter OTP" type="text">
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <span class="otp_title">We have sent an OTP to your phone</span>
      </ion-col>
    </ion-row>

    <div class="ion-text-center">
      <button class="login_btn" (click)="verifyotp()">
        Verify
      </button>
    </div>
    <div class="hr_line">
      <p class="lines">Didn' get OTP</p>
    </div>
    <div class="ion-text-center">
      <button class="comman_login_btn login_btn2" (click)="resendOtp()">
        Resend OTP
      </button>
    </div>
  </div>
  <ion-row class="logo_bottom_bar">
    <ion-col>
      <div class="ion-text-center">
        <img class="logowebsite_icon" src="../assets/images/weblgo.png">
      </div>
    </ion-col>
  </ion-row>
</ion-content>