   <ion-header>
      <ion-toolbar>
         <ion-grid>
            <ion-row>
               <ion-col size="3">
                  <div class="d-flex"> 
                     <ion-back-button defaultHref="{{this.previousUrl}}" class="color_violet"></ion-back-button> 
                     <img class="header_icon_1" src="../../assets/images/weblgo.png">
                  </div>
               </ion-col>
               <ion-col size="6">
                  <p class="ion-text-center heading">Enrollments</p>
               </ion-col>
               <ion-col size="3">
                  <div class="avatar_icon" (click)="presentPopover('any')"></div>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-toolbar>
   </ion-header>
   <ion-content>
      <!--enrollment_page Starts-->
      <div class="enrollment_page">
         <div class="comman_page_padding">
            <div>
               <!--  <ion-searchbar search-icon="undefined" onChange='searchStudent()'></ion-searchbar> -->
               <input type='text' class=' input_search' (keyup)="searchStudent()" [(ngModel)]="searchName"
                  placeholder='Enter student name'>
               <img src="../../assets/images/searchbar_icon.png" class="search_icon">
            </div>
            <ion-row class="attendance_details">
               <ion-card class="right_card">
                  <h2 class="color_pink">{{total ?? ''}}</h2>
                  <span class="color_violet">Total</span>
                  <span class="color_violet">Enrolled</span>
               </ion-card>
               <ion-card class="left_card">
                  <p>Attendance</p>
                  <div class="attendance_staus">
                     <div class="attendance_percentage">
                        <div class="dot_img">
                           <img src="../../assets/images/green_eye_icon.png" class='eye_img' alt="green_eye_icon.png">
                        </div>
                        <div class="text">
                           <span>81-100%</span>
                        </div>
                     </div>
                     <div class="attendance_percentage">
                        <div class="dot_img">
                           <img src="../../assets/images/yellow_eye_icon.png" class='eye_img' alt="yellow_eye_icon.png">
                        </div>
                        <div class="text">
                           <span>61-80%</span>
                        </div>
                     </div>
                     <div class="attendance_percentage">
                        <div class="dot_img">
                           <img src="../../assets/images/red_eye_icon.png" class='eye_img' alt="red_eye_icon.png.png">
                        </div>
                        <div class="text">
                           <span>0-60%</span>
                        </div>
                     </div>
                  </div>
               </ion-card>
            </ion-row>




            <div id="receiptPdf"   class=" main-container payment_receipt"> 
               <div class="container">
                  <div id="pdfTable" #pdfTable>
                     <table class="table">
                        <tr>
                           <td style="padding-top: 30px;">
                              <img class="receipt_logo" src="../../assets/images/weblgo.png" height='100px' width="100px" alt="Brand logo">
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <strong>{{student?.name}}</strong>
                              <p>{{student?.address_1}} </p>
                              <p>{{student?.city}}  {{student?.state}}  {{student?.pincode}}  {{student?.phone}}</p>
                           </td>
                           <td style="text-align: right;" >
                              <p>
                                 <strong>Order Date :</strong>
                                 <span>{{enrolled_class?.created_at | date: 'dd/MM/yyyy' }}</span>
                              </p>
                              <p>
                                 <strong>Order Status :</strong>
                                 <span>Confirmed</span>
                              </p>
                              <p>
                                 <strong>Order ID :</strong>.
                                 <span>#{{enrolled_class?.id }}</span>
                              </p>
                           </td>
                        </tr>
                        <tr class="row_flex">
                           <th>Email :</th>
                           <mailto:td>{{student?.email}}</td>
                        </tr>
                        <tr>
                           <td>
                              <p>
                                 {{text ?? ''}}
                              </p>
                           </td>
                        </tr>
                        <tr class="row_flex">
                           <th>#</th>
                           <td class="detail_tb">1</td>
                        </tr>
                        <tr class="row_flex">
                           <th>Particulars</th>
                           <td class="detail_tb">{{ class?.name }} by {{ institute_name ?? '' }}</td>
                        </tr>
                        <tr class="row_flex">
                           <th>Sub-Total</th>
                           <td class="detail_tb" *ngIf="pay_id == 'manual_enrollment'">Scholarship</td>
                           <td class="detail_tb" *ngIf="pay_id != 'manual_enrollment' && free_trial == 0">Free Trial</td>
                           <td class="detail_tb" *ngIf="pay_id != 'manual_enrollment' && free_trial != 0">{{class?.price}} /-</td>
                        </tr>
                        <tr class="row_flex">
                           <th>Total</th>
                           <td class="detail_tb" *ngIf="pay_id == 'manual_enrollment'">Scholarship</td>
                           <td class="detail_tb" *ngIf="pay_id != 'manual_enrollment' && free_trial == 0">Free Trial</td>
                           <td class="detail_tb" *ngIf="pay_id != 'manual_enrollment' && free_trial != 0 && enrolled_class && enrolled_class.coupon_applied != 0">{{discount_in_rs}} /-</td>
                           <td class="detail_tb" *ngIf="pay_id != 'manual_enrollment' && free_trial != 0 && enrolled_class && enrolled_class.coupon_applied == 0">{{class?.price}} /-</td>
                        </tr>
                        <tr> 
                           <td style="text-align: right; font-size: 16px; font-weight: bold;" *ngIf="pay_id == 'manual_enrollment'">
                             Scholarship
                           </td> 
                           <td style="text-align: right; font-size: 16px; font-weight: bold;" *ngIf="pay_id != 'manual_enrollment' && free_trial == 0">
                             Free Trial
                           </td> 
                           <td style="text-align: right; font-size: 16px; font-weight: bold;" *ngIf="pay_id != 'manual_enrollment' && free_trial != 0 && enrolled_class && enrolled_class.coupon_applied != 0">
                             Grand Total : RS {{total_amount ?? 0}} /-
                           </td> 
                           <td style="text-align: right; font-size: 16px; font-weight: bold;" *ngIf="pay_id != 'manual_enrollment' && free_trial != 0">
                              Grand Total : RS {{total_amount ?? 0}} /-
                           </td> 
                        </tr>
                        <tr>
                           <td style="text-align: right;">
                              <p>For More Help BULDHANA, Maharashtra, India, 443001</p>
                              <p><strong>Hot Line :</strong> <a style="color: #000; text-decoration: none;" href="tel:+9108421784125">08421784125</a></p>
                              <p><strong>Email Id :</strong>  <a style="color: #000; text-decoration: none;" href="mailto:support@avestud.com">support@avestud.com</a></p>
                              <p><strong>website :</strong> <a style="color: #000; text-decoration: none;" href="https://www.avestud.com">https://www.avestud.com</a></p>
                           </td>
                        </tr>
                        <tr>
                           <td>This is an electronically generated invoice and no signature is required.</td>
                           <td style="padding-bottom: 30px;">For Payment Terms and Policies Please visit our website <a style="color: #000; text-decoration: none;" href="https://www.avestud.com">https://www.avestud.com</a></td>
                        </tr>
                    </table>
                  </div>
               </div> 
         </div>

         <div id="page_loader">
            <ion-row class='ion-text-center' >
               <ion-col size-sm="12" class="mt-4">Generating Pdf &nbsp;&nbsp;
                 <ion-spinner name="bubbles" class='bubblesloader '></ion-spinner> 
               </ion-col>
             </ion-row>
         </div> 
          
            <h3 class="comman_font2 color_violet">Students</h3>




            <ion-row class='ion-text-center' *ngIf="showloader">
               <ion-col size-sm="12">
                  <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
               </ion-col>
            </ion-row>
            <!--student_profile start-->
            <ion-row class="student_profile" *ngFor="let data of students; let i = index">
               <ion-col size="5" class="right_section">
                  <img
                     src="{{data.detail[i].avatar ? data.detail[i].avatar : '../../assets/images/teachers_profile.png'}}"
                     alt="student_img.jpg">
               </ion-col>
               <ion-col class="left_section" size="7">
                  <div class="prof_name">
                     <h4 class="comman_font2 color_violet">{{data.detail[i].name ?? ''}}</h4>
                     <a [routerLink]="['/view-attendance']"
                        [queryParams]="{iacs:iacs,subject:subject,student:data.student_id,studentName:data.detail[i].name}"><img
                           class='eye_img' src="../../assets/images/green_eye_icon.png" alt="green_eye_icon.png"></a>
                  </div>
                  <p class="color_pink">Addmission date</p>
                  <p class="comman_font3 color_pink">{{data.detail[i].created_at | date: 'dd/MM/yyyy'}}</p>
                  <p class="contact_no">{{data.detail[i].phone ?? ''}}</p>
                  <div class="s_ship">
                     <p class="m_top2">Fee : ₹ {{data.price ?? ''}}</p>
                   <!--    <img src="../../assets/images/download_icon.png" class='down_img'  (click)="downloadReceipt(data.institute_assigned_class_id,data.student_id)"  alt="download_icon.png">  -->
                      <img src="../../assets/images/download_icon.png" class='down_img'  (click)="exportAsPDF('receiptPdf',data.institute_assigned_class_id,data.student_id);" alt="download_icon.png"> 
                  </div>
               </ion-col>
            </ion-row>
            <!--student_profile End-->
            <!--student_profile start-->
            <!--  <ion-row class="student_profile mr_top">
              <ion-col size="5" class="right_section">
                <img src="../../assets/images/student_img.jpg" alt="student">
              </ion-col>
              
              <ion-col class="left_section" size="7">
                <div class="prof_name">
                  <h4 class="comman_font2 color_violet">Prashant</h4> <img src="../../assets/images/yellow_eye_icon.png"
                    alt="yellow_eye_icon.png">
                </div>
                <p class="color_pink comman_font2 m_top">Addmission date</p>
                <p class="comman_font3 color_pink">24/12/2020</p>
                <p class="contact_no">9845271589</p>
                <div class="s_ship">
                  <p class="m_top2">Scholarship</p> <img src="../../assets/images/download_icon.png" alt="download_icon.png">
                </div>
              </ion-col>
              </ion-row> -->
            <!--student_profile End-->
         </div>
      </div>
      <!--enrollment_page Ends-->
   </ion-content>
   <!--Ion-Content Ends-->