<ion-header>
   <ion-toolbar>
      <ion-grid>
         <ion-row> 
            <ion-col size="3">
               <div class="d-flex">
                  <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button>
               </div>
            </ion-col>
            <ion-col size="6">
               <p class="ion-text-center heading">{{iac?.name}}</p>
            </ion-col>
            <ion-col size="3">
               <img class="header_icon_1" src="../../assets/images/weblgo.png"> 
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-header>
<ion-content>
   <div class="subject_details_page">
      <h1 class="ion-text-center color_pink subject_name title_font">{{subject?.name}}</h1>
      <h2 class="ion-text-center color_pink"></h2>
      <ion-row>
         <ion-col class="btn_demo position_relative" >
            <a  *ngIf='video' href='{{video ?? ""}}'>
               <button class='text-white' class="btn_view grad_green">
                  <img  src="../../assets/images/btn_red_icon.png"> View Demo 
               </button>
            </a>
            <div class="ion-text-center text-orange"><small *ngIf='video && videoapproval == 0'  (click)="refreshpage()">Content under approval &nbsp;
                  <i class="fa fa-refresh"></i> 
            </small></div>
            <button class='text-white' class="btn_view grad_green" *ngIf='!video' defaultHref=''><img
               src="../../assets/images/btn_red_icon.png"> No Demo Video
            </button>
            <div class="edit_btn">
                  <div class="position_relative">
                     <ion-input class="chosse_flie" type="file" accept="video/*" (change)="updateVideo($event)"></ion-input>
                     <img src="../../assets/images/edit_profile_icon.svg" alt=""> 
                   </div>
            </div>
         </ion-col>
      </ion-row>
      <ion-row class="syllabus_btns ion-text-center">
         <ion-col class="ion-text-left" *ngIf='syllabus' size="6">
            <a href='{{syllabus ?? ""}}'><button class="view_btn"  >View Syllabus</button></a>
         </ion-col>
         <ion-col class="ion-text-left" *ngIf='!syllabus' size="6">
            <button class="view_btn"  >No Syllabus</button> 
         </ion-col>
         <ion-col size='6'>
            <!-- {{syllabus ? 'Update' :'View'}} Syllabus -->
            <div class="add_syllabus_input">
               <label for="file">Add Syllabus</label>
               <ion-input class="grad_orange" type="file" accept="application/pdf" (change)="onChange($event)"></ion-input>
            </div>
         </ion-col>
      </ion-row>
      <ion-row class='ion-text-center' *ngIf="showloader">
         <ion-col size-sm="12">
            <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
         </ion-col>
      </ion-row>
      <ion-row>
         <ion-col size="6">
            <p class="comman_font color_violet title_font">Offline Class Time</p> 
         </ion-col>
         <ion-col size="6" *ngIf="iac">
            <p class="comman_font color_violet font_time">{{offlinetime ? '( '+offlinetime+' )' : ''}}&nbsp; <i [routerLink]="['/updateofflinetime']" [queryParams]="{iacs:iacs,subject:subject_id,iac:iac.id}" class="fa fa-edit"></i></p>
         </ion-col>
         <ion-col size="8">
            <p class="comman_font color_violet title_font">Class Schedule</p>
         </ion-col>
         <ion-col size="4">
            <div class="edt_shedule">
               <!-- <a href="#">
                  <img src="../../assets/images/edit_profile_icon.svg" alt="Edit Icon">
               </a> -->
            </div>
         </ion-col>
         <ion-col size="12" *ngIf='next_class'> 
            <div class="next_class_tab"> 
               <span class="blink_text">Next class on {{next_class ?? ''}}</span> 
            </div>  
         </ion-col>
      </ion-row>
         <!-- class Shedule Start -->
      <ion-row    >
         <ion-col size="6"  *ngFor="let time of class_time;">
            <div class="shedule_card"  >
               <div class="column_1 {{time.color_code}}">
                  <p>{{time.time}}</p>
               </div>
               <div class="column_2">
                  <p>{{time?.day | titlecase}}</p>
                  <p>{{time?.name | titlecase}}</p>
               </div>
            </div>
         </ion-col> 
      </ion-row> 
      <div>
         <ion-row class="resources_btns">
            <ion-col size="12">
               <p class="color_violet comman_font title_font">Class Resources</p>
            </ion-col>
            <ion-col size="6">
               <button class="grad_sky comman_btn  common_btn_shadow">Live Classes</button>
            </ion-col>
            <ion-col size="6">
               <button [routerLink]="['/lectures']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_yellow comman_btn  common_btn_shadow">Lectures</button>
            </ion-col>
         </ion-row>
         <ion-row class="resources_btns">
            <ion-col size="6">
               <button [routerLink]="['/assignments']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_green comman_btn  common_btn_shadow">Assigments</button>
            </ion-col>
            <ion-col size="6">
               <button [routerLink]="['/doubts']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_sky comman_btn  common_btn_shadow">Doubts </button>
               <div class="border_outside skybleue"><span class="badge badge_skyblue">{{doubtsnotify ?? 0}}</span></div>
            </ion-col>
         </ion-row>
         <ion-row class="resources_btns">
            <ion-col size="6">
               <button [routerLink]="['/test']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_orange comman_btn  common_btn_shadow">Test</button>
            </ion-col>
            <ion-col size="6">
               <button [routerLink]="['/extraclass']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_green comman_btn  common_btn_shadow">Extra Classes</button>
            </ion-col>
         </ion-row>
         <ion-row class="resources_btns">
            <ion-col size="6">
               <button  [routerLink]="['/attendance']" [queryParams]="{iacs:iacs,subject:subject_id,iacId:this.iac?.id,iacInstitute:this.iac?.institute_id}" class="grad_yellow comman_btn  common_btn_shadow">Attendance </button>
            </ion-col>
            <ion-col size="6" [routerLink]="['/extra-notes']" [queryParams]="{iacs:iacs,subject:subject_id}">
               <button class="grad_sky comman_btn  common_btn_shadow">Extra Notes</button>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
               <ion-label class="comman_font color_violet title_font">Class Notification</ion-label>
               <ion-textarea [(ngModel)]="notificat" class="text_area"></ion-textarea>
            </ion-col>
         </ion-row>
      </div>
      <ion-row class='success_msg' *ngIf='loadsuccess'>{{loadsuccess}}</ion-row>
      <ion-row>
         <ion-col size='4'>
            <button class=" create common_anc_btn btn_blue" (click)="setText($event)">Create</button>
         </ion-col>
         <ion-col size-sm="12" *ngIf="showloader_two">
            <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
         </ion-col>
         <ion-col size='8'>
            <div class="image_upload" id='text_input'>
               <label for="file-input">
                  <img src="../../assets/images/chats_doc.png" class="send_docs mt-1">
               </label>
               <input class="type_file" id="file-input" type="file" (change)="onChangeAttachment($event)" />
            </div>
         </ion-col>
       </ion-row> 
   </div>
</ion-content>
 