<ion-header>
   <ion-toolbar>
      <ion-grid>
         <ion-row> 
            <ion-col size="3">
               <div class="d-flex">
                  <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button>
                 <img class="header_icon_1" src="../../assets/images/weblgo.png">
               </div>
             </ion-col>
            <ion-col size="7">
               <p class="ion-text-center heading">{{iac?.name}}</p>
            </ion-col>
            <ion-col size="2">
               <div class="avatar_icon" (click)="presentPopover('any')"></div>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-header>
<ion-content>
   <div class="subject_details_page">
      <h1 class="ion-text-center color_pink subject_name title_font">{{subject?.name}}</h1>
      <h2 class="ion-text-center color_pink"></h2>
      <ion-row>
         <ion-col class="btn_demo position_relative" >
            <button class='text-white' class="btn_view grad_green" *ngIf='video' defaultHref='{{video ?? ""}}'><img
               src="../../assets/images/btn_red_icon.png"> View Demo 
            </button>
            <button class='text-white' class="btn_view grad_green" *ngIf='!video' defaultHref=''><img
               src="../../assets/images/btn_red_icon.png"> No Demo Video
            </button>
            <div class="edit_btn">
               <a href="#">
                  <img src="../../assets/images/edit_profile_icon.svg" alt="">
               </a>
            </div>
         </ion-col>
      </ion-row>
      <ion-row class="syllabus_btns ion-text-center">
         <ion-col class="ion-text-left" *ngIf='syllabus' size="6">
            <a href='{{syllabus ?? ""}}'><button class="view_btn"  >View Syllabus</button></a>
         </ion-col>
         <ion-col size='6'>
            <!-- {{syllabus ? 'Update' :'View'}} Syllabus -->
            <div class="add_syllabus_input">
               <label for="file">Add Syllabus</label>
               <ion-input class="grad_orange" type="file" accept="application/pdf" (change)="onChange($event)"></ion-input>
            </div>
         </ion-col>
      </ion-row>
      <ion-row class='ion-text-center' *ngIf="showloader">
         <ion-col size-sm="12">
            <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
         </ion-col>
      </ion-row>
      <ion-row>
         <ion-col size="8">
            <p class="comman_font color_violet title_font">Class Shedule</p>
         </ion-col>
         <ion-col size="4">
            <div class="edt_shedule">
               <a href="#">
                  <img src="../../assets/images/edit_profile_icon.svg" alt="Edit Icon">
               </a>
            </div>
         </ion-col>
         <ion-col size="12" *ngIf='next_class'>
            <ion-card class="card">
               <ion-col class="">

                  <p class="text_white">Next class on {{next_class ?? ''}}</p>

               </ion-col>
            </ion-card>

         </ion-col>
      </ion-row>
         <!-- class Shedule Start -->
      <ion-row    >
         <ion-col size="6"  *ngFor="let time of class_time;">
            <div class="shedule_card"  >
               <div class="column_1 {{time.color_code}}">
                  <p>{{time.time}}</p>
               </div>
               <div class="column_2">
                  <p>{{time?.day | titlecase}}</p>
                  <p>{{time?.name | titlecase}}</p>
               </div>
            </div>
         </ion-col> 
      </ion-row>
         <!-- <ion-col size="6">
            <div class="shedule_card">
               <div class="column_1 grad_green">
                  <p>05 <br> June</p>
               </div>
               <div class="column_2">
                  <p>Monday</p>
                  <p>10:00 Am</p>
               </div>
            </div>
         </ion-col>
         <ion-col size="6">
            <div class="shedule_card">
               <div class="column_1 grad_sky">
                  <p>07 <br> June</p>
               </div>
               <div class="column_2">
                  <p>Tuesday</p>
                  <p>09:00 Am</p>
               </div>
            </div>
         </ion-col>
         <ion-col size="6">
            <div class="shedule_card">
               <div class="column_1 grad_orange">
                  <p>10 <br> June</p>
               </div>
               <div class="column_2">
                  <p>Saturday</p>
                  <p>12:30 Pm</p>
               </div>
            </div>
         </ion-col>
         <ion-col size="6">
            <div class="shedule_card">
               <div class="column_1 grad_yellow">
                  <p>14 <br> June</p>
               </div>
               <div class="column_2">
                  <p>Friday</p>
                  <p>04:00 Pm</p>
               </div>
            </div>
         </ion-col> -->
    
      <!-- class Shedule End -->
      <!-- <ion-row>
         <ion-col *ngFor="let subjec of getSubjectsInfo;" size="6">
            <ion-card class="card">
               <ion-col class="card1 " size="12">
                  <p class="text_white mt-2 ">{{subjec?.day | titlecase}}</p>
               </ion-col>
            </ion-card>
         </ion-col>
      </ion-row> -->
      <!---ion row Starts-->
      <!-- <ion-row>
        <ion-col size="6">
        
          <ion-card class="card">
            <ion-col class="card4" size="5">
        
              <p class="text_white">26 <br> july</p>
        
            </ion-col>
        
            <ion-col class="card2" size="7">
              <p class="day">Monday</p>
              <p class="time">10:00 Am</p>
            </ion-col>
          </ion-card> 
        
        
        </ion-col>
        
        <ion-col size="6">
        
          <ion-card class="card">
            <ion-col class="card5" size="5">
        
              <p class="text_white">27 <br> july</p>
        
            </ion-col>
        
            <ion-col class="card2" size="7">
              <p class="day">Tuesday</p>
              <p class="time">10:00 Am</p>
            </ion-col>
          </ion-card> 
        
        </ion-col>
        
        </ion-row> -->
      <!--ion-row Ends-->
      <div>
         <ion-row class="resources_btns">
            <ion-col size="12">
               <p class="color_violet comman_font title_font">Class Resources</p>
            </ion-col>
            <ion-col size="6">
               <button class="grad_sky comman_btn  common_btn_shadow">Live Classes</button>
            </ion-col>
            <ion-col size="6">
               <button [routerLink]="['/lectures']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_yellow comman_btn  common_btn_shadow">Lectures</button>
            </ion-col>
         </ion-row>
         <ion-row class="resources_btns">
            <ion-col size="6">
               <button [routerLink]="['/assignments']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_green comman_btn  common_btn_shadow">Assigments</button>
            </ion-col>
            <ion-col size="6">
               <button [routerLink]="['/doubts']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_sky comman_btn  common_btn_shadow">Doubts </button>
               <div class="border_outside skybleue"><span class="badge badge_skyblue">{{doubtsnotify ?? 0}}</span></div>
            </ion-col>
         </ion-row>
         <ion-row class="resources_btns">
            <ion-col size="6">
               <button [routerLink]="['/test']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_orange comman_btn  common_btn_shadow">Test</button>
            </ion-col>
            <ion-col size="6">
               <button [routerLink]="['/extraclass']" [queryParams]="{iacs:iacs,subject:subject_id}"
                  class="grad_green comman_btn  common_btn_shadow">Extra Classes</button>
            </ion-col>
         </ion-row>
         <ion-row class="resources_btns">
            <ion-col size="6">
               <button class="grad_yellow comman_btn  common_btn_shadow">Attendance </button>
            </ion-col>
            <ion-col size="6">
               <button class="grad_sky comman_btn  common_btn_shadow">Extra Notes</button>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
               <ion-label class="comman_font color_violet title_font">Class Notification</ion-label>
               <ion-textarea [(ngModel)]="notificat" class="text_area"></ion-textarea>
            </ion-col>
         </ion-row>
      </div>
      <ion-row class='success_msg' *ngIf='loadsuccess'>{{loadsuccess}}</ion-row>
      <button class=" create common_anc_btn btn_blue" (click)="setText($event)">Create</button>
   </div>
</ion-content>
<!-- <ion-content>
  <ion-row >
    <ion-title><h4 >{{iac?.name}}</h4></ion-title>
    <ion-item> 
      <a href='{{iac?.video}}'><ion-button>Demo</ion-button></a>
      <ion-label >Add Syllabus :</ion-label>
      <ion-input type="file" accept="image/*" (change)="changeListener($event)"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-card  width='100%'> 
    <ion-card-header>Class Schedule</ion-card-header> 
    <ion-row >
      <ion-button *ngFor="let subjec of getSubjectsInfo;">{{subjec?.day}}</ion-button>
    </ion-row>
    <ion-item-divider  ></ion-item-divider>
    <ion-card-header>Class Resources :</ion-card-header>
    <ion-row >
      <ion-button [routerLink]="['/lectures']" [queryParams]="{iacs:i_a_c_s_id}">Lectures</ion-button>
      <ion-button >Assignments</ion-button>
      <ion-button >Doubts ({{doubtsnotify}})</ion-button>
      <ion-button >Test</ion-button>
      <ion-button >Extra Classes</ion-button>
    </ion-row>
    <ion-row >
      <ion-item>
        <ion-label >Class Notification :</ion-label>
        <ion-input placeholder='Type Notification Here' type="text" ></ion-input>
      </ion-item>
    </ion-row>
  </ion-card> 
  </ion-content>
  -->