<!--Ion-Header Start-->
<ion-header>
  <ion-toolbar>
     <ion-grid>
        <ion-row>
           <ion-col size="3">
              <ion-buttons>
                <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
              </ion-buttons>
           </ion-col>
           <ion-col size="6">
              <p class="ion-text-center heading">Add Extra Class</p>
           </ion-col>
           <ion-col size="3">
              <div class="avatar_icon" (click)="presentPopover('any')"></div>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-toolbar>
</ion-header>
<!--Ion-Header Ends-->
<!--ion-content Start-->
<ion-content> 
  <div class="add_extra_class_page">
    <form class="add_lecture_form">
      <!--Select Unit*-->
      <ion-row>
        <ion-col  >
          <ion-label>Select Unit</ion-label>
          <select required class='lectureSelect' value="{{olddata?.unit_id}}" [(ngModel)]="postData.unit" name='unit'>
            <option   selected value="">Select</option>
            <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
          </select> 
        </ion-col>
      </ion-row>
      <!--Lecture Number*--> 
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-label >Extra Class Number*</ion-label>
          <ion-input    [(ngModel)]="postData.number" value='{{olddata?.extra_class_number}}' autocomplete="off" name="number"  required placeholder="Lecture Number" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <!--Lecture Name*-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-label >Extra Class Name*</ion-label>
          <ion-input required placeholder="Lecture Name" value='{{olddata?.extra_class_name}}'  [(ngModel)]="postData.lecturename" autocomplete="off" name="lecturename" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <!--Lecture Date*-->
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-label >Extra class Date*</ion-label>
          <ion-datetime displayFormat="DD MM YYYY" value='{{olddata?.extra_class_date}}'  [(ngModel)]="postData.date" autocomplete="off" name="date" placeholder="Select Date"></ion-datetime> 
          <img class="calender_icon" src="../../assets/images/calender.svg">
        </ion-col>
      </ion-row>
      <!--file upload / drag and-->
      <ion-row class="mg_top">
        <ion-col class="pdf_img">
          <ion-label >Upload Notes*</ion-label>
          <input class="drag_drop"  name="notes" (change)="onChange($event)"  accept="application/pdf"  type="file" id="notes"  /><br />
          <!-- <img src="../../assets/imgs/pdf_img.svg" class="pdf_img"> -->
        </ion-col>
      </ion-row>
      <ion-row class="mg_top">
        <div *ngIf='olddata?.notes'>
          <a href='{{olddata?.notes}}'>View Old</a> 
        </div>
      </ion-row>
      <ion-row class="mg_top">
        <ion-col class="pdf_img">
          <ion-label >Upload Video <span class="placeholder_text">(You can add later)</span></ion-label>
          <span class="placeholder_text">Only extra class with video will show to students</span>
          <input class="drag_drop"  name="video"  accept="video/*" (change)="onChangeVideo($event)"  type="file" id="video"  /><br />
          <!-- <img src="../../assets/imgs/pdf_img.svg" class="pdf_img"> -->
        </ion-col>
      </ion-row>
      <ion-row class="mg_top">
        <div *ngIf='olddata?.extra_class_video'>
          <a href='{{olddata?.extra_class_video}}'>View Old Video</a> 
        </div>
      </ion-row>
      <ion-row class='ion-text-center' *ngIf="showloader">
        <ion-col size="12">
          Please be patient, files are uploading to secure servers...
        </ion-col>
        <ion-col size="12">
          <div class="text-center">{{progressPercent}} %</div>
        </ion-col>
        <ion-progress-bar  [value]="progress"></ion-progress-bar> 
      </ion-row>
      <!-- <ion-row class='ion-text-center' *ngIf="showloader">
        <ion-col size-sm="12" >Please be patient, files are being uploaded <br> 
          <ion-spinner name="bubbles"   ></ion-spinner>
        </ion-col>
      </ion-row> -->
      <ion-button expand="block" share="round" color="success" (click)="createExtraClass()">Add</ion-button>
    </form>
  </div>
</ion-content>
 