<ion-header>
  <ion-toolbar class="bg_color">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
           <ion-buttons>
              <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
           </ion-buttons>
        </ion-col>
        <ion-col size="5">
           <p class="ion-text-center heading">Doubts</p>
        </ion-col>
        <ion-col size="4">
           <div class="avatar_icon" (click)="presentPopover('any')"></div>
        </ion-col>
     </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content  #target >
  <!--Chats Page Start-->
  <div class='comman_page_padding'>
    <div class="chats_page">
    <!--   <div  *ngFor='let msg of messages.slice().reverse()'>
        <div *ngIf='msg.sendable_id == this.student'> 
          <div class="left_section"> 
            <img src="{{msg.message ?? '../../assets/images/Chats-image3.png'}}"> 
          </div>
        </div>   
        <div *ngIf='msg.sendable_id != this.student'> 
          <div class="right_section">
            <img src="{{msg.message ?? '../../assets/images/Chats-image3.png'}}"> 
          </div>
        </div>
      </div> -->
      <div  *ngFor='let msg of messages ' class='chat_div'>
        <div *ngIf='msg.sendable_id != this.student'> 
          <div class="left_section">
            <div *ngIf='msg.type == "file"'> 
            <img class='chatsectionimg' src="{{msg.message !='' ? 'https://aaradhanaclasses.s3.ap-south-1.amazonaws.com/'+msg.message  : '../../assets/images/Chats-image3.png'}}">  <br/>
            <small>{{msg.created_at |  date: 'dd/MM/yyyy'}}</small>
            </div> 
            <div *ngIf='msg.type == "text"'> 
              {{msg.message}} <br/>
              <small>{{msg.created_at |  date: 'dd/MM/yyyy'}}</small>
            </div> 
          </div>
        </div> 
        <div *ngIf='msg.sendable_id == this.student'> 
          <div class="right_section ">
            <div *ngIf='msg.type == "file"'> 
              <img class='chatsectionimg' src="{{msg.message !='' ? 'https://aaradhanaclasses.s3.ap-south-1.amazonaws.com/'+msg.message  : '../../assets/images/Chats-image3.png'}}"> <br/>
              <small>{{msg.created_at |  date: 'dd/MM/yyyy'}}</small> 
            </div> 
            <div *ngIf='msg.type == "text"'> 
              {{msg.message}} <br/>
              <small>{{msg.created_at |  date: 'dd/MM/yyyy'}}</small>
            </div> 
          </div> 
        </div> 
      </div> 
      <div  *ngIf='!messages' class='chat_div no_msg'>
        <div class='mt-50'>No Doubt Yet !!!</div> 
      </div>
      <ion-row class="clearfix msgsection" >
        <ion-col   size="10">
          <!-- <img src="../../assets/images/chats_camera_icon.png" class="camera_icon"> -->
          <ion-input type="text" [(ngModel)]="text_message" name='text_message' placeholder="Text"></ion-input>
          <div class="image-upload"  id='text_input'>
            <label for="file-input"> 
              <img src="../../assets/images/chats_doc.png"  class="se lect_doc">
            </label> 
            <input  id="file-input" type="file" (change)="onChange($event)" />
          </div> 
        </ion-col>
        <ion-col size="2" (click)='send_btn()' class="send_btn">
          <img src="../../assets/images/send_button.png">
        </ion-col>
      </ion-row>
      
    </div>
  </div>
  
  <!--Chats Page End-->
</ion-content>
