<!--Ion-Header Start-->
<ion-header>
  <ion-toolbar>
     <ion-grid>
        <ion-row>
           <ion-col size="3">
              <div class="d-flex">
                 <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button>
                 <img class="header_icon_1" src="../../assets/images/weblgo.png">
              </div>
           </ion-col>
           <ion-col size="7">
              <p class="ion-text-center heading">Assignments</p>
           </ion-col>
           <ion-col size="2">
              <div class="avatar_icon" (click)="presentPopover('any')"></div>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-toolbar>
</ion-header>
<!--Ion-Header Ends-->
<!--ion-content Start-->
<ion-content>
  <div class="comman_page_padding">
  <div class="assignment_qustion_page">
   <!--  <ion-row class="row_unit">
      <ion-col id="theme_shadow">
        <p>Unit 5</p>
      </ion-col>
      <ion-col>
        <p>Unit 4</p>
      </ion-col>
      <ion-col>
        <p>Unit 3</p>
      </ion-col>
      <ion-col>
        <p>Unit 2</p>
      </ion-col>
      <ion-col>
        <p>Unit 1</p>
      </ion-col>
    </ion-row> -->
    <!--assignment_card start-->
    <div class="text-center mt-4"  *ngIf="nodata" > 
      No assignment yet !!
    </div>
    <div class="" *ngFor="let assign of topics;">
      <h5 class="text-center">{{assign.name | titlecase}}</h5>
      <div class="test_section bg_light_yellow" *ngFor="let topicsAll of assign.topics;">
        <div class="">
          <ion-row>
            <ion-col>
                <h1 class="color_pink comman_font2">Assignment</h1>
                <span class="comman_font2">{{topicsAll.title | titlecase}}</span>
                <h4 class="color_pink">{{topicsAll.testType && topicsAll.testType == 1 ? 'MCQ':''}}</h4>
                <h4 class="color_pink">{{topicsAll.testType && topicsAll.testType == 2 ? 'Theory':''}}</h4>
              <p class="question_decription">{{topicsAll.description ?? ''}}</p>
            </ion-col>
        </ion-row> 
        <ion-row class="points_row">
          <ion-col size="8">
            <p>Per Question Mark</p>
          </ion-col>
          <ion-col size="4">
            <p>{{topicsAll.per_q_mark ?? ''}}</p>
          </ion-col>
          <ion-col size="8">
            <p>Total Questions</p>
          </ion-col>
          <ion-col size="4">
            <p>{{topicsAll.questions.length ?? ''}}</p>
          </ion-col> 
          <ion-col size="8">
            <p>Total Marks</p>
          </ion-col>
          <ion-col size="4"  >
            <p>{{topicsAll.questions.length && topicsAll.per_q_mark   ? topicsAll.questions.length * topicsAll.per_q_mark : ''}}</p>
          </ion-col> 
          <div class="start_session" *ngIf="topicsAll?.questions.length > 0">
            
            <a *ngIf="topicsAll.testType && topicsAll.testType == 1" [routerLink]="['/startassignment']" [queryParams]="{iacs:iacs,subject:subject,assignment:topicsAll.id}" class="start_btn">Start</a>
            <a *ngIf="topicsAll.testType && topicsAll.testType == 2" [routerLink]="['/startTheoryassignment']" [queryParams]="{iacs:iacs,subject:subject,assignment:topicsAll.id}" class="start_btn">Start</a>
          </div>
          <div class="start_session" *ngIf="topicsAll?.questions.length == 0">
            <button  class="start_btn">No Question</button>
          </div>
        </ion-row> 
      </div>
      </div>
    </div>
    <!--assignment_card Ends-->
    <!--assignment_card End strat (2)-->
   <!--  <div class="assignment_card">
      <ion-row>
        <ion-col>
          <h1 class="color_pink comman_font2">Assignment 2</h1>
          <span class="comman_font2 font_b">How creatures Move</span>
          <p class="comman_font3">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
            piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </ion-col>
      </ion-row> 
      <ion-row class="points_row">
        <ion-col size="8">
          <p>Per Question Mark</p>
        </ion-col>
        <ion-col size="4">
          <p>2</p>
        </ion-col>
        <ion-col size="8">
          <p>Total Mark</p>
        </ion-col>
        <ion-col size="4">
          <p>4</p>
        </ion-col>
        <ion-col size="8">
          <p>Total Questions</p>
        </ion-col>
        <ion-col size="4">
          <p>2</p>
        </ion-col>
        <div class="start_session">
          <button class="start_btn">Start</button>
        </div>
      </ion-row> 
    </div>  -->
  </div>
  </div>
</ion-content>
<!--ion-content End-->