<ion-header>
    <ion-toolbar>
       <ion-grid>
          <ion-row>
            <ion-col size="3">
               <div class="d-flex">
                  <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button>
                 <img class="header_icon_1" src="../../assets/images/weblgo.png">
               </div>
             </ion-col>
             <ion-col size="7">
                <p class="ion-text-center heading">Lectures</p>
             </ion-col>
             <ion-col size="2">
               <div class="avatar_icon" (click)="presentPopover('any')"><i class="fa fa-bell"></i> </div>
             </ion-col>
          </ion-row>
       </ion-grid>
    </ion-toolbar>
 </ion-header>
 <ion-content>
    <div class="comman_page_padding ">
       <div class="lectures ">
          <ion-row>
             <ion-col size="12" class="d-flex">
                <h1 class="color_violet page_tittle">Lectures</h1>
                  <div class="text-right">
                     <div class="btn_theme">
                        <button [routerLink]="['/addlecture']" [queryParams]="{iacs:iacs,subject:subject}" class='comman_btn common_anc_btn btn_blue'>
                           Add </button> 
                         <button [routerLink]="['/lec-unit']" [queryParams]="{iacs:iacs,subject:subject}" class='  comman_btn common_anc_btn btn_blue'> Add Unit</button> 
                     </div>
                  </div>
             </ion-col>
             <!-- <ion-col size="3">
                <button [routerLink]="['/lec-unit']" [queryParams]="{iacs:iacs,subject:subject}" class='bg_color btn comman_btn common_anc_btn common_btn_shadow'> Add Unit</button> 
             </ion-col> -->
             <!-- <ion-col size="3"> 
                <button [routerLink]="['/addlecture']" [queryParams]="{iacs:iacs,subject:subject}" class='bg_color btn comman_btn common_anc_btn common_btn_shadow'>
                    Add </button> 
             </ion-col> -->
          </ion-row>
          <ion-row class="row_unit">
             <ion-col (click)="toggleShow()" id="{{!showUnitFor ? 'theme_shadow' :''}}" >
                <p > All</p>
             </ion-col>
             <ion-col *ngFor="let lect of lectures;" id="{{showUnitFor == lect.unit ? 'theme_shadow' :''}}">
                <p (click)="toggleShow(lect.unit)">{{lect.unit.length > 0 && lect.unit.length > 10 ? lect.unit.substring(0,10)+' ...' : lect.unit.length > 0 && lect.unit.length < 10 ? lect.unit :''}}</p>
             </ion-col>
          </ion-row>
          <div *ngFor="let lect of lectures;let i=index;"  >
             <div *ngIf="showUnitFor == lect.unit || !showUnitFor">
                <p class='text-center'>{{lect?.unit | titlecase}}</p>
                <ion-row class="row_video" *ngFor="let single of lect.lectures;">
                   <ion-col size="5">
                      <div class="video_img">
                         <a *ngIf='single.lecture_video' href='{{ single?.lecture_video }}'><img src="../../assets/images/video_img2.png" class="youtube_icon"></a>
                         <img *ngIf='!single.lecture_video' src="../../assets/images/video_img2.png" class="youtube_icon">
                      </div>
                   </ion-col>
                   <ion-col size="7">
                      <div class="col_text">
                         <p class="comman_font color_violet"></p>
                         <p class="comman color_pink lineHe">{{ single.lecture_name | titlecase }}</p>
                         <p class="date_f">{{ single?.lecture_date | date: 'dd/MM/yyyy' }}</p>
                      </div>
                      <div class="icons_set">
                         <a *ngIf='single.notes' href='{{ single.notes ?? "#" }}'><i class='fa fa-download text-white'></i><!-- <img src="../../assets/images/download_pdf.png"> --></a>
                          <i class='fa fa-download text-white'  *ngIf='!single.notes'></i>
                         <a [routerLink]="['/addlecture']" [queryParams]="{iacs:this.iacs,subject:subject,lectureid:single.id}"><i class='fa fa-pencil text-white'></i><!-- <img src="../../assets/images/edit_icon.png"> --></a>
                         <a (click)="presentAlert(single.id)"><i class='fa fa-trash text-white'></i><!-- <img src="../../assets/images/delete_icon.png"> --></a>
                      </div>
                   </ion-col>
                </ion-row>
             </div>
          </div>
       </div>
       <ion-card *ngIf="nolectures" class="card_4" no-lines>
          <ion-row>
             <ion-col class='ion-text-center'>No Lectures Added Yet !!!
             </ion-col>
          </ion-row>
       </ion-card>
    </div>
 </ion-content>