<ion-header>
   <ion-toolbar>
      <ion-grid>
         <ion-row>
            <ion-col size="3">
               <div class="d-flex">
                  <ion-back-button defaultHref="{{previousUrl}}"></ion-back-button>
               </div>
            </ion-col>
            <ion-col size="6">
               <p class="ion-text-center heading">Lectures</p>
            </ion-col>
            <ion-col size="3">
               <img class="header_icon_1" src="../../assets/images/weblgo.png">
               <!-- <div class="avatar_icon" (click)="presentPopover('any')"><i class="fa fa-bell"></i> </div> -->
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-header>
<ion-content>
   <div class="comman_page_padding video_lectures_intitute">
      <!-- page_header -->
      <div class="page_header">
         <div>
            <h1 class="color_violet page_tittle">Lectures</h1>
         </div>
         <div class="btn_theme">
            <button [routerLink]="['/addlecture']" [queryParams]="{iacs:iacs,subject:subject}"
               class='btn_blue'>
               Add </button>
            <button [routerLink]="['/lec-unit']" [queryParams]="{iacs:iacs,subject:subject}"
               class='btn_blue'> Add Unit</button>
         </div>
      </div>
      <!-- End page_header -->
      <!-- row_unit -->
      <div class="row_unit">
         <div (click)="toggleShow()" id="{{!showUnitFor ? 'theme_shadow' :''}}">
            <p> All</p>
         </div>
         <div *ngFor="let lect of lectures;" id="{{showUnitFor == lect.unit ? 'theme_shadow' :''}}">
            <p (click)="toggleShow(lect.unit)">{{lect.unit.length > 0 && lect.unit.length > 10 ?
               lect.unit.substring(0,10)+' ...' : lect.unit.length > 0 && lect.unit.length < 10 ? lect.unit :''}}</p>
         </div>
      </div>
      <!-- End row_unit -->
      <!-- card_video_lecture -->
      <div *ngFor="let lect of lectures;let i=index;">
         <div *ngIf="showUnitFor == lect.unit || !showUnitFor">
            <p class='text-center unit_heading'>{{lect?.unit | titlecase}}</p>
            <ion-row class="card_video_lecture" *ngFor="let single of lect.lectures;">
               <ion-col size="5">
                  <div class="video_img">
                     <a *ngIf='single.lecture_video' href='{{ single?.lecture_video }}'><img
                           src="../../assets/images/video_img2.png" class="youtube_icon"></a>
                     <img *ngIf='!single.lecture_video' src="../../assets/images/video_img2.png" class="youtube_icon">
                  </div>
               </ion-col>
               <ion-col size="7" class="video_details">
                  <h2 class="title_font">Lecture No : {{ single.lecture_number }} </h2>
                  <marquee behavior="scroll" direction="left" width="100%" scrollamount="4">
                     <h3 class="text_light">{{ single.lecture_name | titlecase }}</h3>
                  </marquee>
                  <!-- <h3 class="text_light">{{ single.lecture_name | titlecase }}</h3> -->
                  <p class="text_blue">{{ single?.lecture_date | date: 'dd/MM/yyyy' }}</p>
                  <div class="icons_set">
                     <a *ngIf='single.notes' href='{{ single.notes ?? "#" }}'><i class='fa fa-download text-white'></i>
                        <!-- <img src="../../assets/images/download_pdf.png"> --></a>
                     <i class='fa fa-download text-white' *ngIf='!single.notes'></i>
                     <a [routerLink]="['/addlecture']"
                        [queryParams]="{iacs:this.iacs,subject:subject,lectureid:single.id}"><i
                           class='fa fa-pencil text-white'></i>
                        <!-- <img src="../../assets/images/edit_icon.png"> --></a>
                     <a (click)="presentAlert(single.id)"><i class='fa fa-trash text-white'></i>
                        <!-- <img src="../../assets/images/delete_icon.png"> --></a>
                  </div>
               </ion-col>
            </ion-row>
         </div>
      </div>
      <!-- End card_video_lecture -->
      <ion-row>
         <ion-col size="12" class='ion-text-center'>No Lectures Added Yet !!!
         </ion-col>
      </ion-row>
   </div>
</ion-content>