<!--Ion-Header Start-->
<ion-header>
  <ion-toolbar>
     <ion-grid>
        <ion-row>
           <ion-col size="3">
              <ion-buttons>
                 <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button>
              </ion-buttons>
           </ion-col>
           <ion-col size="5">
              <p class="ion-text-center heading">Revise Lectures</p>
           </ion-col>
           <ion-col size="4">
              <div class="avatar_icon" (click)="presentPopover('any')"></div>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-toolbar>
</ion-header>
<!--Ion-Header Ends-->
<!--Ion-content Starts-->
<ion-content>
  <!--revise lectures page start-->
  <div class="revise_lectures_page">
    <!--Row Unit Start-->
    <ion-row class="row_unit">
      <ion-col id="theme_shadow">
        <p>Unit 5</p>
      </ion-col>
      <ion-col>
        <p>Unit 4</p>
      </ion-col>
      <ion-col>
        <p>Unit 3</p>
      </ion-col>
      <ion-col>
        <p>Unit 2</p>
      </ion-col>
      <ion-col>
        <p>Unit 1</p>
      </ion-col>
    </ion-row>
    <!--Row Uint End-->
    <h1>The Golden Touch</h1>
    <!--class_detais row start-->
    <ion-row class="class_details bg_light_yellow">
      <ion-col size="10" class="left_col">
        <h2>Unit No 5</h2>
        <p class="color_pink">The Golden Touch</p>
        <span>16/01/2021</span>
      </ion-col>
      <ion-col size="2" class="right_col">
        <img src="../../assets/images/youtube_icon.svg" class="youtube_icon">
        <div class="download_icons">
          <img src="../../assets/images/download_receipt.png">
          <img src="../../assets/images/arrow_down_pdf.png">
        </div>
      </ion-col>
    </ion-row> 
    <!--class_detais row End-->
    <!--class_detais row start-->
    <!-- <ion-row class="class_details mg_top bg_light_gray">
      <ion-col size="10" class="left_col">
        <h2>Unit No 5</h2>
        <p class="color_pink">The Golden Touch</p>
        <span>16/01/2021</span>
      </ion-col>
      <ion-col size="2" class="right_col">
        <img src="../../assets/imgs/youtube_icon.svg" class="youtube_icon">
        <div class="download_icons">
          <img src="../../assets/imgs/download_receipt.png">
          <img src="../../assets/imgs/arrow_down_pdf.png">
        </div>
      </ion-col>
    </ion-row> -->
    <!--class_detais row End-->
  </div>
  <!--revise_lectures_page-->
</ion-content>
<!--Ion-Content Ends-->
