<!--Ion-Header Start-->
<ion-header>
  <ion-toolbar>
     <ion-grid>
        <ion-row>
          <ion-col size="3">
            <div class="d-flex">  
                 <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button>
                 <img class="header_icon_I ml-2" src="../../assets/images/weblgo.png">
            </div>
           </ion-col>
           <ion-col size="6">
              <p class="ion-text-center heading">Revise Lectures</p>
           </ion-col>
           <ion-col size="3">
            <div class="avatar_icon" (click)="presentPopover('any')"><i class="fa fa-bell"></i> </div>
           </ion-col>
        </ion-row>
     </ion-grid>
  </ion-toolbar>
</ion-header>
<!--Ion-Header Ends-->
<!--Ion-content Starts-->
<ion-content>
  <!--revise lectures page start-->
  <div class="revise_lectures_page">
    <!--Row Unit Start-->
    <div class="row_unit">
      <div (click)="toggleShow()" id="{{!showUnitFor ? 'theme_shadow' :''}}" >
          <p > All</p>
      </div>
      <div *ngFor="let lect of myclasses;" id="{{showUnitFor == lect.unit ? 'theme_shadow' :''}}">
          <p (click)="toggleShow(lect.unit)">{{lect.unit.length > 0 && lect.unit.length > 12 ? lect.unit.substring(0,12)+' ...' : lect.unit.length > 0 && lect.unit.length < 12 ? lect.unit :''}}</p>
      </div> 
    </div>
    <!--Row Uint End-->
    <div class="text-center mt-4"  *ngIf="nodata" > 
      No lecture yet !!
    </div>
    <div *ngFor="let lect of myclasses;let i=index;"  >
      <div *ngIf="showUnitFor == lect.unit || !showUnitFor">
          <p class='text-center'> {{lect?.unit | titlecase}}</p> 
          <ion-row class="class_details bg_light_yellow" *ngFor="let single of lect.lectures;">
            <ion-col size="10" class="left_col">
               <h2 class="title_font f-15">Lecture No. {{ single.lecture_number }} </h2>
              <marquee behavior="scroll" direction="left" width="100%" scrollamount="4">
                <h6 class="text_light">{{ single.lecture_name | titlecase }}</h6>
             </marquee>
             <p class="text_blue">{{ single?.lecture_date | date: 'dd/MM/yyyy' }}</p>
            </ion-col>
            <ion-col size="2" class="right_col">
              <a *ngIf='single.lecture_video' (click)="markattendance(single.id,single?.lecture_video)"><img src="../../assets/images/youtube_icon.svg"  class="youtube_icon"></a>
              <div class="download_icons"> 
                <a *ngIf='single.notes' href='{{ single.notes ?? "#" }}'><img src="../../assets/images/arrow_down_pdf.png"></a>
              </div>
            </ion-col>
          </ion-row>
          <!-- <ion-row class="row_video" *ngFor="let single of lect.lectures;"> 
              <ion-col size="5">
                  <div class="video_img"> 
                      <a *ngIf='single.lecture_video' (click)="markattendance(single.id,single?.lecture_video)"><img src="../../assets/images/video_img2.png" class="youtube_icon"></a>
                      <img *ngIf='!single.lecture_video' src="../../assets/images/video_img2.png" class="youtube_icon">
                  </div>
              </ion-col>
              <ion-col size="7">
                  <div class="col_text text-center">
                      <p class="comman_font color_violet"></p>
                      <p class="comman color_pink lineHe">{{ single?.lecture_number }} {{ single.lecture_name | titlecase }}</p>
                      <p class="date_f">{{ single.lecture_date | date: 'dd/MM/yyyy' }}</p>
                  </div>
                  <div class="icons_set">
                    <a *ngIf='single.notes' href='{{ single.notes ?? "#" }}'><img src="../../assets/images/download_pdf.png"></a>
                    <img *ngIf='!single.notes'  src="../../assets/images/download_pdf.png"> 
                  </div>
              </ion-col>
          </ion-row> -->
      </div> 
  </div>
   <!--  <div *ngFor='let unit of myclasses'>  
       <div *ngIf='unit.lectures.length > 0'>
        <h1>{{unit.name ?? ''}}</h1> 
          <ion-row class="class_details bg_light_yellow" *ngFor='let lect of unit.lectures'>
            <ion-col size="10" class="left_col"> 
              <p class="color_pink">{{lect.lecture_name}}</p>
              <span>{{lect.lecture_date | date: 'MM/dd/yyyy'}}</span>
            </ion-col>
            <ion-col size="2" class="right_col">
              <a href='{{video ?? ""}}'><img src="../../assets/images/youtube_icon.svg" class="youtube_icon"></a>
              <div class="download_icons">
                <img src="../../assets/images/download_receipt.png">
                <a href='{{syllabus ?? ""}}' class="view_btn"><img src="../../assets/images/arrow_down_pdf.png"></a>
              </div>
            </ion-col>
          </ion-row> 
        </div> 
    </div> -->

    <!--class_detais row End-->
    <!--class_detais row start-->
    <!-- <ion-row class="class_details mg_top bg_light_gray">
      <ion-col size="10" class="left_col">
        <h2>Unit No 5</h2>
        <p class="color_pink">The Golden Touch</p>
        <span>16/01/2021</span>
      </ion-col>
      <ion-col size="2" class="right_col">
        <img src="../../assets/imgs/youtube_icon.svg" class="youtube_icon">
        <div class="download_icons">
          <img src="../../assets/imgs/download_receipt.png">
          <img src="../../assets/imgs/arrow_down_pdf.png">
        </div>
      </ion-col>
    </ion-row> -->
    <!--class_detais row End-->
  </div>
  <!--revise_lectures_page-->
</ion-content>
<!--Ion-Content Ends-->
