<!--===Ion-Header Start===-->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="d-flex"> 
              <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button> 
              <img class="header_icon_1" src="../../assets/images/weblgo.png">
          </div>
        </ion-col>
        <ion-col size="7">
          <p class="ion-text-center heading">Search Classes</p>
        </ion-col>
        <ion-col size="2">
          <div class="avatar_icon" (click)="presentPopover('any')"><i class="fa fa-bell"></i></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!--===Ion-Header Ends===-->
<!--====Ion-content Starts====-->
<ion-content>
  <!--====search_classes_page start====-->

  <div class="search_classes_page">
    <ion-row class="category filter_class">
      <ion-col size="6" class="select_box">
          <!-- <ion-label class="btn_category">Category<img src="../../assets/images/select_option.png"></ion-label> -->
          <!-- <ion-select>
            <ion-select-option *ngFor='let cats of categories'>{{cats.name ?? ''}}</ion-select-option> 
          </ion-select> --> 
       
          <!-- <select class='category' (change)="oncatChange()" placeholder="asd" [(ngModel)]="selected_cat" value='selected_cat'  name='unit' >
            <option  >Select</option>
            <option *ngFor="let cats of categories" value="{{cats.id}}">{{cats.name ?? ''}}</option>
          </select> -->
          <ion-select multiple="false" (ionChange)="oncatChange()" placeholder="Select class" [(ngModel)]="selected_cat"  > 
            <ion-select-option class="text-input place-field" *ngFor="let cats of categories" value="{{cats.id}}"> 
              {{cats.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      <ion-col size="6">
        <!-- <ion-searchbar></ion-searchbar> -->
        <ion-input type="search" class="search-bar" (ionChange)="setName()"  placeholder="Search" [(ngModel)]="enteredName" ></ion-input>
      </ion-col>
    </ion-row>
   
    
    <div class="dummy_class_img" *ngIf='show_default == true'>
      <div class="ion-text-center">
        <img src="../../assets/images/searchclass.png">
      </div>
    </div>
    <ion-row class='ion-text-center' *ngIf="showloader">
      <ion-col size-sm="12" >
        <ion-spinner name="bubbles" class='bubblesloader'  ></ion-spinner>
      </ion-col>
    </ion-row>
    <div  *ngIf='nodata == true'>
      <div class="content_card" >
        <ion-row>
          <ion-col class="ion-text-center page_tittles">
            <h1>Nothing Found !!!</h1>
          </ion-col>
        </ion-row>
      </div>
    </div> 
    <div  *ngIf='show_default == false'>
      <div  *ngFor='let class of classes' >
      <div class="content_card" >
          <ion-row>
            <ion-col class="ion-text-center page_tittles">
              <h1>{{class.name ?? ''}}</h1>
              <p>By: {{class.institute_details.name ?? ''}}</p>
            </ion-col>
          </ion-row>
        
          
          <div class="details_section">
            <div class="d_flex">
              <div class="left_col">
                <p>Language </p>
              </div>
              <div class="right_col">
                <p>{{class.language ? class.language.name : ''}}</p>
              </div>
            </div>
            <div class="d_flex">
              <div class="left_col">
                <p>Board</p>
              </div>
              <div class="right_col">
                <p class="">{{class.board ?? ''}}</p>
              </div>
            </div>
            <div class="d_flex">
              <div class="left_col">
                <p>Location</p>
              </div>
              <div class="right_col">
                <p>{{class.city ?? ''}}</p>
              </div>
            </div>
          </div>
        
          
          <ion-row class="subject_btns ion-text-center">
            <ion-col size="6" *ngFor='let subj of class.subjects'>
              <button  [routerLink]="['/subject-detail-student']" [queryParams]="{iacs:subj.id,subject:class.institute_details.id,selected_cat:selected_cat}" class="{{subj.color_code ?? grad_orange}}">{{subj.details ? subj.details.name : ''}}</button>
            </ion-col>
          <!--   <ion-col size="6">
              <button class="grad_sky">English</button>
            </ion-col>
            <ion-col size="6">
              <button class="grad_green">Science</button>
            </ion-col>
            <ion-col size="6">
              <button class="grad_orange">Hindi</button>
            </ion-col> -->
          </ion-row>
          <ion-row class="ion-text-center demo_video">
            <ion-col>
              <p>View Class Demo</p>
              <a *ngIf='class.video' href='{{class.video ?? "#"}}' ><img src="../../assets/images/youtube_icon.svg"></a>
             <img  *ngIf='!class.video' src="../../assets/images/youtube_icon.svg"> 
            </ion-col>
          </ion-row>
          <div class="spacing">
            <div class="session_time">
              <div class="start_date">
                <p class="font_bold">Start : <span class="font_light">{{class.start_date | date: 'dd/MM/yyyy'}}</span></p>
              </div>
              <div class="end_time">
                <p class="font_bold">End  : <span class="font_light">{{class.end_date | date: 'dd/MM/yyyy'}}</span></p>
              </div>
            </div>
            <div class="enroll_fee">
              <div>
                <p>Enrollment Fee : &nbsp;</p>
              </div>
              <div>
                <p>{{class.price}} ₹</p>
              </div>
            </div>
          </div>
          <div class="options_btns">
            <button *ngIf='class.classStatus == "Free Trial"' class="btn_enroll" >Free Trial</button>
            <button *ngIf='class.classStatus == "Enrolled"' class="btn_enroll" >Enrolled</button>
            <button *ngIf='class.classStatus == "Enroll"' class="btn_enroll" (click)='presentAlert(class.id)'>Enroll Now</button> 
          </div>
        </div>
        
        </div>

    </div>

    <!--===Content_card End====-->
  </div>
  <!--===search_classes_page End===-->
</ion-content>
<!--====Ion-Content Ends====-->