<ion-header>
  <ion-toolbar>
      <ion-grid>
          <ion-row>
              <ion-col size="3">
                  <ion-buttons>
                      <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
                  </ion-buttons>
              </ion-col>
              <ion-col size="5">
                  <p class="ion-text-center heading">Add Question</p>
              </ion-col>
              <ion-col size="4">
                  <div class="avatar_icon"></div>
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="add_question_form">
    <!--Question-->
    <ion-row >
      <ion-col>
        <ion-label position="stacked">Question</ion-label>
        <ion-textarea  value="{{olddata?.question}}" [(ngModel)]="postData.question"   name='question' class="text_area" placeholder="Please Enter Question"></ion-textarea>
      </ion-col>
    </ion-row>
    <!--select Correct Answer-->
    
    <!--option-->
    <ion-row>
      <ion-col>
        <ion-label>A</ion-label>
        <ion-input  value="{{olddata?.a}}" [(ngModel)]="postData.a" name='a' placeholder="Please Enter Option A"></ion-input>
      </ion-col>
    </ion-row>
     <!--option-->
    <ion-row>
      <ion-col>
        <ion-label>B</ion-label>
        <ion-input value="{{olddata?.b}}" [(ngModel)]="postData.b" name='b' placeholder="Please Enter Option B"></ion-input>
      </ion-col>
    </ion-row>
     <!--option-->
    <ion-row>
      <ion-col>
        <ion-label>C</ion-label>
        <ion-input value="{{olddata?.c}}" [(ngModel)]="postData.c" name='c' placeholder="Please Enter Option c"></ion-input>
      </ion-col>
    </ion-row>
     <!--option-->
    <ion-row>
      <ion-col>
        <ion-label>D</ion-label>
        <ion-input value="{{olddata?.d}}" [(ngModel)]="postData.d" name='d' placeholder="Please Enter Option D"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Select Correct Answer</ion-label>
        <ion-select placeholder="Answers" class="select_opt"  value="{{olddata?.answer}}" [(ngModel)]="postData.answer" name='answer'>
          <ion-select-option value='A'>A</ion-select-option>
          <ion-select-option value='B'>B</ion-select-option>
          <ion-select-option value='C'>C</ion-select-option>
          <ion-select-option value='D'>D</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
     <!--Answer Explaination-->
    <ion-row>
      <ion-col>
        <ion-label position="stacked">Answer Explaination</ion-label>
        <ion-textarea class="text_area" value="{{olddata?.answer_exp}}" [(ngModel)]="postData.answer_exp" name='answer_exp' placeholder="Please Enter The Explanation"></ion-textarea>
      </ion-col>
    </ion-row>
    <!--input type file-->
    <ion-row>
      <ion-col class="pdf_img">
        <ion-label>Add image to Question</ion-label>
        <input class="drag_drop" type="file" accept="image/*" id="file" name="file"  (change)="onChange($event)"    /><br />
      </ion-col>
    </ion-row>

    <ion-row class="mg_top">
      <div *ngIf='olddata?.question_img'>
        <a href='{{olddata?.question_img}}'>View Old File</a> 
      </div>
    </ion-row>


    <ion-row class='ion-text-center' *ngIf="showloader">
      <ion-col size-sm="12" >Please be patient, file is uploading <br>
        <ion-spinner name="bubbles" class='bubblesloader' style="color:#644699"></ion-spinner>
      </ion-col>
    </ion-row>


    <ion-button class="btn_bottom_mrgn" expand="block" share="round" color="success" (click)="createAssigment()">Save</ion-button>
  </form>
</ion-content>
