<!--Ion-Header Start-->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-buttons>
            <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="4">
          <p class="ion-text-center heading">Add Lecture</p>
        </ion-col>
        <ion-col size="4">
          <div class="avatar_icon" (click)="presentPopover('any')"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!--Ion-Header Ends-->
<!--ion-content Start-->
<ion-content>
  <div class="add_lecture_page">
    <form>
      <!--Select Unit*-->
      <ion-row>
        <ion-col>
          <ion-label>Select Unit*</ion-label>
          <select class='lectureSelect' value="{{olddata?.unit_id}}" [(ngModel)]="postData.unit" name='unit' required>
            <option value="" selected disabled>Select</option>
            <option *ngFor="let unit of units" value="{{unit.id}}">{{unit.name}}</option>
          </select>
        </ion-col>
      </ion-row>
      <!--Lecture Number*-->
      <ion-row>
        <ion-col>
          <ion-label>Lecture Number*</ion-label>
          <ion-input [(ngModel)]="postData.number" value='{{olddata?.lecture_number}}' autocomplete="off" name="number"
            required placeholder="Lecture Number" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <!--Lecture Name*-->
      <ion-row>
        <ion-col>
          <ion-label>Lecture Name*</ion-label>
          <ion-input required placeholder="Lecture Name" value='{{olddata?.lecture_name}}'
            [(ngModel)]="postData.lecturename" autocomplete="off" name="lecturename" type="text"></ion-input>
        </ion-col>
      </ion-row>
      <!--Lecture Date*-->
      <ion-row>
        <ion-col>
          <ion-label>Lecture Date*</ion-label>
          <ion-datetime displayFormat="DD MM YYYY" value='{{olddata?.lecture_date}}' [(ngModel)]="postData.date"
            autocomplete="off" name="date" placeholder="Select Date"></ion-datetime>
          <img class="calender_icon" src="../../assets/images/calender.svg">
        </ion-col>
      </ion-row>
      <!--file upload / drag and-->
      <ion-row class="mg_top">
        <ion-col class="pdf_img">
          <ion-label>Upload Notes*</ion-label>
          <input class="drag_drop" name="notes" accept="application/pdf" (change)="onChange($event)" type="file"
            id="notes" /><br />
          <!-- <img src="../../assets/imgs/pdf_img.svg" class="pdf_img"> -->
        </ion-col>
      </ion-row>
      <ion-row class="mg_top">
        <div *ngIf='olddata?.notes'>
          <a href='{{olddata?.notes}}'>View Old Notes</a>
        </div>
      </ion-row>
      <ion-row class="mg_top">
        <ion-col class="pdf_img">
          <ion-label>Upload Video (You can add later)</ion-label>
          <small>Only lecture with video will show to students</small>
          <input class="drag_drop" name="video" accept="video/*" (change)="onChangeVideo($event)" type="file"
            id="video" /><br />
          <!-- <img src="../../assets/imgs/pdf_img.svg" class="pdf_img"> -->
        </ion-col>
      </ion-row>
      <ion-row class="mg_top">
        <div *ngIf='olddata?.lecture_video'>
          <a href='{{olddata?.lecture_video}}'>View Old Video</a>
        </div>
      </ion-row>
      <ion-row class='ion-text-center' *ngIf="showloader">
        <ion-col size-sm="12">Please be patient, files are being uploaded <br>
          <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
        </ion-col>
      </ion-row>
      <ion-button expand="block" share="round" color="success" class="btn_bottom_mrgn" (click)="createLecture()">Add
      </ion-button>
    </form>
  </div>
</ion-content>
<!--ion-content End-->
<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add lecture</ion-title>
    <a slot='end'  [routerLink]="['/lectures']" [queryParams]="{iacs:this.iacs}"><ion-button  >Back</ion-button> </a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-list>
    <ion-item>
    <ion-label >Select unit</ion-label>
      <ion-select  [(ngModel)]="postData.unit" name='unit'  >
        <ion-select-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label >Lectuer Number</ion-label>
      <ion-input [(ngModel)]="postData.number" autocomplete="off" name="number" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
    <ion-label >Lecture Name</ion-label>
    <ion-input [(ngModel)]="postData.lecturename" autocomplete="off" name="lecturename" type="text"></ion-input>
    </ion-item> 
    <ion-item>
    <ion-label >Lecture Date</ion-label>
    <ion-input [(ngModel)]="postData.date" autocomplete="off" name="date" type="date"></ion-input>
    </ion-item> 
    <ion-item>
    <ion-label >Notes</ion-label>
    <ion-input  name="notes" (change)="onChange($event)" type="file"></ion-input>
    </ion-item> 
    <ion-item>
    <ion-label >Video</ion-label>
    <ion-input  (change)="onChangeVideo($event)"  name="video" type="file"></ion-input> 
    </ion-item> 
    </ion-list>
    <ion-button expand="block" share="round" color="success" (click)="createLecture()">Save</ion-button>
    </form>
</ion-content>
 -->