// questions_page 
.questions_page{
    padding: 0 14px;
}

.sums_imgs{
    width: 98%;
    height: 220px;
    margin: 0 auto;
    border-radius: 6px;
}

.comman_font3{
    color: #000000;
}


.options p{
    font-size: 14px;
    color: #404040  ;
}

