// questions_page 
.questions_page{
    padding: 0 14px;
}

.sums_imgs{
    width: 98%;
    height: 220px;
    margin: 0 auto;
    border-radius: 6px;
}

.comman_font3{
    color: #000000;
}
.btn_bottom_mrgn{
    margin-bottom: 30px;
}

.options p{
    font-size: 14px;
    color: #f3f3f3  ;
}
.fl-right{
    float:right;
}
.text-white{
    color: #f3f3f3 ;
}

