
.fl-right {
    float: right;
}

.popover_relative{
    position: relative;
}

.custom_popover {
    position: absolute;
    top: 0;
    right: 0;
}

.list_questions_tabs .nav_tabs span:last-child {
    flex: 0 0 38%;
}