<ion-header>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col size="3">
                    <div class="d-flex"> 
                        <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
                        <img class="header_icon_1" src="../../assets/images/weblgo.png">
                    </div>
                </ion-col>
                <ion-col size="7">
                    <p class="ion-text-center heading">Test</p>
                </ion-col>
                <ion-col size="2">
                    <div class="avatar_icon"></div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="comman_page_padding test_page">
        <!--page_tittle and add button-->
        <!-- <ion-row>
            <ion-col size="8">
                <h1 class="color_violet page_tittle">Test</h1>
            </ion-col>
            <ion-col size="2">
                <div class="btn_theme">
                    <button [routerLink]="['/add-test']" [queryParams]="{iacs:iacs,subject:subject}">Add</button>
                </div> 
            </ion-col>
            <ion-col size="2">
                <div class="btn_theme">
                    <button [routerLink]="['/add-test-unit']" [queryParams]="{iacs:iacs,subject:subject}"> Add Unit</button>
                </div>
            </ion-col>
            </ion-row> -->
        <ion-row>
            <ion-col size="12" class='d-flex'>
                <h1 class="color_violet page_tittle">Test</h1>
                <div class="text-right">
                    <div class="btn_theme">
                        <button [routerLink]="['/add-test']"
                            [queryParams]="{iacs:iacs,subject:subject,type:test}">Add</button>
                        
                        <button [routerLink]="['/add-test-unit']" [queryParams]="{iacs:iacs,subject:subject,type:test}">
                            Add Unit</button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
        <!--row_unit start-->
        <ion-row class="row_unit">
            <ion-col (click)="toggleShow()" id="{{!showUnitFor ? 'theme_shadow' :''}}">
                <p> All</p>
            </ion-col>
            <ion-col *ngIf='hideOlds == true' id="{{showUnitFor == 'old' ? 'theme_shadow' :''}}">
                <p (click)="toggleShow('old')">Old</p>
            </ion-col>
            <ion-col *ngFor="let assign of testAll;" id="{{showUnitFor == assign.name ? 'theme_shadow' :''}}">
                <p (click)="toggleShow(assign.name)">{{assign.name | titlecase}}</p>
            </ion-col>
        </ion-row>
        <!--row_unit End-->
        <!--test_section start-->
        <div class="text-center"
            *ngIf='this.testWithoutClass && this.testWithoutClass.length == 0 && this.testAll.length == 0'>
            <hr>
            No Test Addded Yet
        </div>

        <div class="" *ngFor="let assign of testAll;">

            <div *ngIf="showUnitFor == assign.name || !showUnitFor">
               <!--  <h2 class="text-center test_heading">{{assign.name | titlecase}}</h2> -->
                <div class="test_section bg_light_yellow" *ngFor="let topicsAll of assign.topics;">
                    <!--row_assignment-->

                    <ion-row class="row_assignment">
                        <div class="box box1">
                            <h2 class="color_pink">{{topicsAll.title | titlecase}}</h2> 
                        </div>
                        <div class="box box2 ion-text-center">
                            <div>
                                <a [routerLink]="['/add-test']"
                                    [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:'test'}"><i
                                        class='fa fa-pencil text-white'></i></a>
                            </div>
                            <div>
                                <a (click)="presentAlert(topicsAll.id)"> <i class='fa fa-trash text-white'></i></a>
                            </div>

                            <div>
                                <button [routerLink]="['/publish-assignment']"
                                    [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:'test'}"
                                    class="{{topicsAll.publish_date ? 'publish_btn' : 'No_publish_btn'}}">
                                    {{topicsAll.publish_date == '' ? 'No Published' :'Published'}}
                                    {{topicsAll.publish_date| date: 'MM/dd/yyyy'}}
                                </button>
                            </div>
                        </div>

                    </ion-row>
                    <!--details_sec-->
                    <ion-row class="details_sec">
                        <p>{{topicsAll.description}}</p>
                    </ion-row>
                    <ion-row  >
                        <ion-col size="12">
                         <h4 class="color_pink">{{topicsAll.testType && topicsAll.testType == 1 ? 'Type : MCQ':''}}</h4>
                            <h4 class="color_pink">{{topicsAll.testType && topicsAll.testType == 2 ? 'Type : Theory':''}} </h4>
                        </ion-col>
                    </ion-row>
                    <!--question_section start-->
                    <div>
                        <ion-row class="question_section">
                            <ion-col size="8">
                                <span>Per Question Mark</span>
                            </ion-col>
                            <ion-col size="4">
                                <span>{{topicsAll.per_q_mark}}</span>
                            </ion-col>
                            <ion-col size="8">
                                <span>Total Questions</span>
                            </ion-col>
                            <ion-col size="4">
                                <span>{{topicsAll.questions}}</span>
                            </ion-col>
                            <ion-col size="8">
                                <span>Total Marks</span>
                            </ion-col>
                            <ion-col size="4">
                                <span>{{topicsAll.questions * topicsAll.per_q_mark}}</span>
                            </ion-col>
                            <ion-col size='8'>
                                <span>Time Duration</span>
                            </ion-col>
                            <ion-col size='4'>
                                <span>{{topicsAll.timer}}</span>
                            </ion-col>
                        </ion-row>
                    </div>
                    <!--question_section End-->
                    <!--assignment_btns-->
                    <div class="assignment_btns">
                        <button [routerLink]="['/list-question']"
                            [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:'test',questionType:topicsAll.testType && topicsAll.testType == 1 ? 'mcq':'theory'}"
                            class="bg_color add_q">Add Question
                        </button>
                        <button [routerLink]="['/reports']"
                            [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:topicsAll.type}"
                            class="show_r bg_color_p">Show Reports
                        </button>
                    </div>
                    <!--assignment_btns closer-->
                </div>
            </div>
        </div>
        <div *ngIf='hideOlds == true'>
            <div *ngIf="showUnitFor == 'old' || !showUnitFor">
                <hr>
                <h2 *ngIf="testWithoutClass" class="text-center">Old Test</h2>
                <div *ngFor="let topicsAll of testWithoutClass;">
                    <div>
                        <div class="test_section bg_light_yellow">
                            <!--row_assignment-->

                            <ion-row class="row_assignment">
                                <div class="box box1">
                                    <h2 class="color_pink">{{topicsAll.title | titlecase}}</h2>
                                </div>
                                <div class="box box2 ion-text-center">
                                    <div>
                                        <a [routerLink]="['/add-assignment']"
                                            [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:'test'}"><img
                                                src="../../assets/images/edit_icon.png" alt=""></a>
                                    </div>
                                    <div>
                                        <a (click)="presentAlert(topicsAll.id)"> <img
                                                src="../../assets/images/delete_icon.png" alt=""></a>
                                    </div>

                                    <button [routerLink]="['/publish-assignment']"
                                        [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:'test'}"
                                        class="{{topicsAll.publish_date ? 'publish_btn' : 'No_publish_btn'}}">
                                        {{topicsAll.publish_date ? 'Published on '+topicsAll.publish_date : 'Not
                                        Published'}} </button>
                                </div>
                            </ion-row>
                            <!--details_sec-->
                            <ion-row class="details_sec">
                                <p>{{topicsAll.description}}</p>
                            </ion-row>
                            <!--question_section start-->
                            <div>
                                <ion-row class="question_section">
                                    <ion-col size="8">
                                        <span>Per Question Mark</span>
                                    </ion-col>
                                    <ion-col size="4">
                                        <span>{{topicsAll.per_q_mark}}</span>
                                    </ion-col>
                                    <ion-col size="8">
                                        <span>Total Questions</span>
                                    </ion-col>
                                    <ion-col size="4">
                                        <span>{{topicsAll.totalQuestions}}</span>
                                    </ion-col>
                                    <ion-col size='8'>
                                        <span>Time Duration</span>
                                    </ion-col>
                                    <ion-col size='4'>
                                        <span>{{topicsAll.timer}}</span>
                                    </ion-col>
                                </ion-row>
                            </div>
                            <!--question_section End-->
                            <!--assignment_btns-->
                            <div class="assignment_btns">
                                <button [routerLink]="['/list-question']"
                                    [queryParams]="{iacs:iacs,subject:subject,assignment_id: topicsAll.id,type:'test'}"
                                    class="bg_color add_q">Add Question</button>
                                <button class="show_r bg_color_p">Show Reports</button>
                            </div>
                            <!--assignment_btns closer-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--test_section End-->
    </div>
</ion-content>