<ion-header>
  <ion-toolbar class="bg_color">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="d-flex">
            <ion-buttons>
              <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
            </ion-buttons>
            <img class="header_icon_1" src="../../assets/images/weblgo.png">
          </div>
        </ion-col>
        <ion-col size="6">
          <p class="ion-text-center heading">Doubts</p>
        </ion-col>
        <ion-col size="3">
          <div> 
              <img class='icon_refresh' (click)="reloadpage($event)"
              src="../../assets/images/refresh.svg">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content #target>
  <!--Chats Page Start-->
  <div class='comman_page_padding chats_page'>
    <div class="chats_content">
      <div *ngFor='let msg of messages ' class='chat_div'>
        <div *ngIf='msg.sendable_id == this.student'>
          <div class="right_side_chat" *ngIf="msg.type == 'file'">
            <img class='sender_img' src="{{msg.avatar ? msg.avatar:'../../assets/images/cost.png'}}">
            <div class="chat_box">
              <a class="msg_type_view" *ngIf="msg.message" href="{{msg.message !='' ? msg.message  : ''}}"> View</a>
              <span class="msg_time">{{msg.created_at | date: 'dd/MM/yyyy h:mm a'}}</span>
              <img class="msg_status" src="../../assets/images/seen_msg.svg" alt="Check Icon">
            </div>
          </div>
          <div class="right_side_chat" *ngIf="msg.type == 'text'">
            <img class='sender_img' src="{{msg.avatar ? msg.avatar:'../../assets/images/cost.png'}}">
            <div class="chat_box">
              <p>{{msg.message !='' ? msg.message : ''}}</p>
              <span class="msg_time">{{msg.created_at | date: 'dd/MM/yyyy h:mm a'}}</span>
              <img class="msg_status" src="../../assets/images/seen_msg.svg" alt="Check Icon">
            </div>
          </div>
        </div>
        <div *ngIf='msg.sendable_id != this.student'>
          <div class="left_side_chat " *ngIf="msg.type == 'file'">
            <img class='sender_img' src="{{'../../assets/images/edu.jpg'}}">
            <div class="chat_box">
              <a class="msg_type_view" *ngIf="msg.message" href="{{msg.message !='' ? msg.message  : ''}}"> View</a>
              <span class="msg_time">{{msg.created_at | date: 'dd/MM/yyyy h:mm a'}}</span>
            </div>
          </div>
          <div class="left_side_chat" *ngIf="msg.type == 'text'">
            <img class='sender_img' src="{{'../../assets/images/edu.jpg'}}">
            <div class="chat_box">
              <p>{{msg.message !='' ? msg.message : ''}}</p>
              <span class="msg_time">{{msg.created_at | date: 'dd/MM/yyyy h:mm a'}}</span>
            </div>
          </div>
        </div>
      </div>
      <div id='text_input'></div>
    </div>
      <div *ngIf='!messages' class='chat_div no_msg'>
        <div class='mt-50'>No Doubt Yet !!!</div>
      </div>
      <ion-row class='ion-text-center' *ngIf="showloader">
        <ion-col size-sm="12"> Processing request <br>
          <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
        </ion-col>
      </ion-row>

      <!-- send Massage tab -->
      <div class="send_msg_tab">
        <div class="tab_inner">
          <div class="tab_input">
            <div class="send_emoji">
              <img src="../../assets/images/send_emoji.svg" alt="Emoji Icon">
            </div>
            <textarea class="send_text_msg" type="text" [(ngModel)]="text_message" name='text_message' placeholder="Message" ></textarea> 
            <div class="image_upload" >
              <label for="file-input">
                <img src="../../assets/images/chats_doc.png" class="send_docs">
              </label>
              <input class="type_file" id="file-input" type="file" (change)="onChange($event)" />
            </div>
             <img src="../../assets/images/chats_camera_icon.png" class="camera_icon">
          </div>
          <div (click)='send_btn()'  class="send_btn">
            <img class="icon_send" src="../../assets/images/send_button.png">
          </div>
        </div>
      </div>
  </div>

  <!--Chats Page End-->
</ion-content>