<ion-content>
  <div class="comman_page_front forgot_password_page bottom_logo_fix">
    <ion-row>
      <ion-col size="12">
        <div class="logo_area ion-text-center">
          <img src="../../assets/images/logo.png">
        </div>
        <div class="ion-text-center form_head">
          <span class='ave'>AVE</span><span class='stud'>STUD</span>
        </div>
      </ion-col>
    </ion-row>

    <ion-row  *ngIf="!otpinput">
      <ion-col size="12">
        <span class="form_text_line">Forgot Password </span>
      </ion-col>
    </ion-row>
    <div *ngIf="otpinput">
      <ion-row>
        <ion-col>
          <span class="form_text_line">Enter Otp Received </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="Password_input">
          <ion-item lines="none">
            <ion-input required placeholder="Enter OTP Received" name="otp" [(ngModel)]="postData.otp"
              class="phone_input" type='text'></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="log-btn ion-text-center">
        <button class="login_btn" (click)="verifyotp()">Submit</button>
      </div>
    </div>

    <div *ngIf="!otpinput">
      <ion-row>
        <ion-col size-sm="6" offset-sm="3" class="Password_input">
          <ion-item lines="none">
            <ion-input required placeholder="Phone Number" name="phone" [(ngModel)]="postData.phone" class="phone_input"
              type='text'></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class='ion-text-center' *ngIf="showloader">
        <ion-col size-sm="12">
          <ion-spinner name="bubbles" class='bubblesloader'></ion-spinner>
        </ion-col>
      </ion-row>
      <div class="log-btn ion-text-center">
        <button class="login_btn" (click)="forgotAction()">Get OTP</button>
      </div>
      <div class="hr_line">
        <p class="lines">Or</p>
      </div>
      <div class="ion-text-center">
        <button class="login_btn2 comman_login_btn" [routerLink]="['/']">
          Login
        </button>
      </div>
    </div>
  </div>
  <ion-row class="logo_bottom_bar">
    <ion-col>
      <div class="ion-text-center">
        <img class="logowebsite_icon" src="../assets/images/weblgo.png">
      </div>
    </ion-col>
  </ion-row>
</ion-content>