 

<ion-content> 
  <div class="comman_page_front">
  <div class="logo_area ion-text-center">

    <img src="../../assets/images/logo.png">

  </div>


  <div *ngIf="otpinput" class="text-center">
    <h1>Enter Received OTP</h1>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="Password_input">
        <ion-item lines="none">  
          <ion-input required placeholder="Enter OTP Received" name="otp" [(ngModel)]="postData.otp" class="phone_input" type='text'></ion-input> 
        </ion-item> 
      </ion-col>
    </ion-row>
    <div class="log-btn ion-text-center"> 
      <button class="login_btn" (click)="verifyotp()">Submit</button> 
    </div> 
  </div>

  <div *ngIf="!otpinput">
  <div class="ion-text-center form_head">

    <h1>Forgot Password</h1>
    <span class="form_text_line">Otp will be send to your mobile number </span>

    </div>


    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="Password_input">
        <ion-item lines="none">  
          <ion-input required placeholder="Phone Number" name="phone" [(ngModel)]="postData.phone" class="phone_input" type='text'></ion-input> 
        </ion-item> 
      </ion-col>
    </ion-row>
   
      <ion-row class='ion-text-center' *ngIf="showloader">
        <ion-col size-sm="12" >
          <ion-spinner name="bubbles" class='bubblesloader' style="color:#644699"></ion-spinner>
        </ion-col>
      </ion-row>
      <div class="log-btn ion-text-center"> 
        <button class="login_btn" (click)="forgotAction()">Get OTP</button> 
      </div> 
      <div class="hr_line">
        <p class="lines">Or</p>
      </div>
      <div class="ion-text-center">
        <button class="login_btn2 comman_login_btn" [routerLink]="['/']">
          Login
        </button>
      </div>

    </div>
    </div>
</ion-content>
