<ion-header>
  <ion-toolbar> 
    <ion-grid>
      <ion-row>
        <ion-col size="3">  
            <ion-back-button defaultHref="{{previousUrl}}" class="color_violet"></ion-back-button> 
        </ion-col> 
        <ion-col size="5"> 
          <p class="ion-text-center heading">Add Lecture Unit</p> 
        </ion-col> 
        <ion-col size="4"> 
          <div class="avatar_icon" (click)="presentPopover('any')"></div> 
        </ion-col> 
      </ion-row>
    </ion-grid> 
  </ion-toolbar> 
</ion-header> 

<ion-content>
  <div class="comman_page_padding ">
    <br>
  <form class="assignment_form"> 
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-label position="stacked">Unit Name</ion-label>
        <ion-input name='unitName'    [(ngModel)]="postData.unitName" required placeholder="Enter Assignment Unit Name" type="text"></ion-input>
      </ion-col>
    </ion-row>
    
    <!--btns--> 
    <div class="btns ion-text-center">
      <button id="add" (click)="createTestUnit()" >Add</button> 
    </div>
  </form>
  </div>
</ion-content>
