
.orange_circle{
    background: linear-gradient(to bottom, #FE8349, #FE6564);
}
.yellow_circle{
    background: linear-gradient(to bottom, #F9962E, #F9B236);
}

.skyblue_circle{
    background: linear-gradient(to bottom, #1388D4, #10A5DC);
}

.green_circle{
    background: linear-gradient(to bottom, #66AE0F, #87D505);
}