 

<ion-content> 
  <div class="comman_page_front">
  <div class="logo_area ion-text-center">

    <img src="../../assets/images/logo.png">

  </div>


  <div  >
     <h1  class='ion-text-center'>Enter New Password</h1> 
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="Password_input">
        <ion-item lines="none">  
          <ion-input required placeholder="New password" name="password" [(ngModel)]="postData.password" class="phone_input" type='text'></ion-input> 
        </ion-item> 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3" class="Password_input">
        <ion-item lines="none">  
          <ion-input required placeholder="Confirm Password" name="cpassword" [(ngModel)]="postData.cpassword" class="phone_input" type='text'></ion-input> 
        </ion-item> 
      </ion-col>
    </ion-row>
    <div class="log-btn ion-text-center"> 
      <button class="login_btn" (click)="updatepassword()">Update Password</button> 
    </div> 
  </div>
 
    </div>
</ion-content>
