<ion-content>
  <div class="comman_page_front bottom_logo_fix">
    <ion-row>
      <ion-col size="12">
        <div class="logo_area ion-text-center">
          <img src="../../assets/images/logo.png">
        </div>
        <div class="ion-text-center form_head">
          <span class='ave'>AVE</span><span class='stud'>STUD</span>
        </div>
      </ion-col>
    </ion-row>
    <div>
      <ion-row>
        <ion-col>
          <span class="form_text_line">Enter New Password</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" class="Password_input">
          <ion-item lines="none">
            <ion-input required placeholder="New password" name="password" [(ngModel)]="postData.password"
              class="phone_input" type='text'></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="12" class="Password_input">
          <ion-item lines="none">
            <ion-input required placeholder="Confirm Password" name="cpassword" [(ngModel)]="postData.cpassword"
              class="phone_input" type='text'></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <div class="update_password ion-text-center">
        <button class="login_btn" (click)="updatepassword()">Update Password</button>
      </div>
    </div>
  </div>
  <ion-row class="logo_bottom_bar">
    <ion-col size="12">
      <div class="ion-text-center">
        <img class="logowebsite_icon" src="../assets/images/weblgo.png">
      </div>
    </ion-col>
  </ion-row>
</ion-content>