
  .btns {
    margin-top: 16px;
  }
  
  .btns button {
    width: 100px;
    height: 36px;
    font-size: 13px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  #add {
    background-color: #644699;
    margin-right: 5px;
  }
  
  #reset {
    background-color: #e03e91;
    margin-left: 5px;
  }
  .p-18 {
    padding: 18px;
}
  
