<ion-app>
  <ion-header>
     <ion-toolbar>
        <ion-grid>
           <ion-row>
              <ion-col size="2">
                <ion-buttons>
                  <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
               </ion-buttons>
              </ion-col>
              <ion-col size="8">
                 <p class="ion-text-center heading">Notifications</p>
              </ion-col>
              <ion-col size="2">
                 <div class="avatar_icon" (click)="presentPopover('any')"></div>
              </ion-col>
           </ion-row>
        </ion-grid>
     </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="comman_page_padding">
    <div class="text-center" *ngIf="nomsg">  
      <h4 class="wel">Nothing to show !!!</h4> 
    </div>
    <div   *ngFor="let data of notifications; let i = index">
      <ion-card  [ngStyle]="{ background: 'grey' }"  no-lines class="common_card">
        <ion-card-header class="card_tittle">
            <span class="color_violet class_5">{{i+1 +' ) '}}{{data.message ?? ''}}</span>
            <br>
            <span class="font_f">{{data.created_at | date:'MM/dd/yyyy hh:mm a'}}</span>
            &nbsp;&nbsp;<i class="fa fa-check-circle text-red" title="Mark as read" (click)="delete(data.id)"></i>
          </ion-card-header>
        </ion-card>
      </div> 
  </div> 
</ion-content>

</ion-app>

