ion-card-header.card_tittle.ion-inherit-color.md.hydrated {
    background: #fafafa;
    color: black;
}
 
i.fa.fa-check-circle.text-red {
    border-left: 2px solid;
    padding-left: 6px;
    color: #ca2424;
    float: right;
}

span.font_f {
    font-size: 12px;
}
.class_5{
    font-size: 16px;
}