<!--===Ion-Header Start===-->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="d-flex"> 
            <ion-back-button defaultHref="{{previousUrl ?? ''}}" class="color_violet"></ion-back-button>
            <img class="header_icon_1" src="../../assets/images/weblgo.png">
          </div>
        </ion-col>
        <ion-col size="6">
          <p class="ion-text-center heading">Select Class Time</p>
        </ion-col>
        <ion-col size="3">
          <div class="avatar_icon" (click)="presentPopover('any')"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="select_timing_page">
    <div class="" *ngIf='showcheckout == false && showpaybutton == false'>
      <ion-row class="category">
        <ion-col>
          <div *ngFor="let iacss of iacsdetails; ">
            <div class='ion-text-center'>
              <h1 size="12">{{iacss.subject.name ?? ''}}</h1>
              <small>Select class timings for specific days</small>
            </div>
            <hr />
            <div *ngFor='let days of iacss.subjects_infos;'>
              <br />
              <div><label class="subject m-0">{{days.day | titlecase}}</label></div>
              <div>
                <select class='timing_select timevalues' data-id="{{days.id ?? ''}}" name='{{days.day ?? ""}}' required>
                  <option value='' selected disabled>Select</option>
                  <option *ngFor="let slots of timeslots" value="{{slots.id ?? ''}}">{{slots.slot ? slots.slot : ''}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="btns ion-text-center">
            <button id="add" (click)="enrollthisclass()">Enroll Now</button>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="search_classes_page " *ngIf='showcheckout == true'>
      <ion-row class="category">
        <ion-col size="12">
          <div *ngFor="let class of classes; ">
            <div class='ion-text-center'>
              <h3 class="" style="font-size: 17px;">{{class.name ?? ''}}</h3>
              <h4 class=" m-0 text-center fw-100 text-white donis_font">By {{instdata.name ?? ''}}</h4>
            </div>
            <div class='ion-text-center'>
              <h1 style="font-size: 16px;"><b>Total : ₹ {{class.price ?? ''}}</b></h1>
            </div>
            <hr />
            <ion-card class='my_card grad_sky' *ngFor="let subj of subjects; ">
              <div size="12">
                <label class="subject m-0">
                  <h4 class=" text-whitish mt-0 mb-2 m-auto text-center">
                    {{subj.name ?? ''}}
                  </h4>
                </label>
              </div>
            </ion-card>
          </div>
          <hr />
        </ion-col>
        <ion-col size="12" *ngIf='showpaybutton == false'>
          <div class="btns ">
            <div class='ion-text-center'>
              <ion-label size="12">Have a coupen ?</ion-label>
            </div>
            <ion-row>
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-input placeholder="Enter coupen Code Here" name="coupencode" [(ngModel)]="coupencode"
                    class="coupencode" type='text'></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>
          <div class="btns ion-text-center">
            <button id="red" (click)="canclepaynow()">Apply</button>
            <button id="add" (click)="paynow()">Next</button>
          </div>
        </ion-col>
        <ion-col size="12">
          <div class="btns ion-text-center">
            <p id="amt">{{this.amount ? '₹ '+this.amount : ''}}</p>
          </div>
          <div class="btns ion-text-center" *ngIf='showpaybutton == true'>
            <button id="red" (click)="canclefinal()">Back</button>
            <button id="add" (click)="payWithRazor()">Pay now</button>
          </div>
          <br />
          <hr />
          <br />
          <p style="line-height: 25px;" class='ion-text-center'>
            <small>For More Help</small> <br>
            AVESTUD <br>
            BULDHANA, Maharashtra, India, 443001 <br>
            Hot Line: 08421784125 <br>
            Email Id: support@avestud.com <br>
            <small>www.avestud.com</small> <br>
          </p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>